In [1]:
import pandas as pd

## 울산

In [2]:
ulsan_anch_train_final = pd.read_csv("../기상청공모전/data/ulsan_anch_train_final.csv",encoding = "utf-8", index_col=0)

In [3]:
i_col = list(ulsan_anch_train_final['ulsan_anch_train_final.num'].unique())

In [4]:
anchor_drag = [0 for i in range(len(i_col))]
len(anchor_drag)

127

In [5]:
ulsan = ulsan_anch_train_final.copy()

In [6]:
col_name ={'ulsan_anch_train_final.num':'num',
      'ulsan_anch_train_final.time':'time',
      'ulsan_anch_train_final.latitude':'latitude',
      'ulsan_anch_train_final.longitude':'longitude',
      'ulsan_anch_train_final.sog':'sog',
      'ulsan_anch_train_final.cog':'cog',
      'ulsan_anch_train_final.hdg':'hdg'}

In [7]:
ulsan.rename(columns=col_name, inplace=True)

ulsan.time = ulsan.time.str[1:-1]
ulsan.time = pd.to_datetime(ulsan.time)
ulsan.latitude = ulsan.latitude.str[2:-1]
ulsan.longitude = ulsan.longitude.str[2:-1]

ulsan = ulsan.astype({'latitude':'float','longitude':'float'})

In [8]:
ulsan['anchor_drag'] = 0
ulsan.head()

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag
1,1,2021-01-03 11:08:37,35.461190,129.438732,0.6,102.9,343,0
2,1,2021-01-03 11:11:36,35.461160,129.439545,0.9,70.6,299,0
3,1,2021-01-03 11:14:38,35.461472,129.439878,0.4,9.6,273,0
4,1,2021-01-03 11:17:33,35.461688,129.439792,0.2,328.0,267,0
5,1,2021-01-03 11:20:37,35.461708,129.439733,0.2,260.1,265,0

In [9]:
ulsan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169631 entries, 1 to 169631
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   num          169631 non-null  int64
 1   time         169631 non-null  datetime64[ns]
 2   latitude     169631 non-null  float64
 3   longitude    169631 non-null  float64
 4   sog          169631 non-null  float64
 5   cog          169631 non-null  float64
 6   hdg          169631 non-null  int64
 7   anchor_drag  169631 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 11.6 MB

In [21]:
ulsan.to_csv('../기상청공모전/data/ulsan_anch.csv', encoding = "utf-8", index=False)

## 부산

In [11]:
busan_anch_train_final = pd.read_csv("../기상청공모전/data/busan_anch_train_final.csv",encoding = "utf-8", index_col=0)

In [12]:
i_col2 = list(busan_anch_train_final['busan_anch_train_final.num'].unique())

In [13]:
anchor_drag2 = [0 for i in range(len(i_col2))]
len(anchor_drag2)

141

In [14]:
busan = busan_anch_train_final.copy()

In [15]:
col_name ={'busan_anch_train_final.num':'num',
      'busan_anch_train_final.time':'time',
      'busan_anch_train_final.latitude':'latitude',
      'busan_anch_train_final.longitude':'longitude',
      'busan_anch_train_final.sog':'sog',
      'busan_anch_train_final.cog':'cog',
      'busan_anch_train_final.hdg':'hdg'}

In [16]:
busan.rename(columns=col_name, inplace=True)

busan.time = busan.time.str[1:-1]
busan.time = pd.to_datetime(busan.time)

busan.latitude = busan.latitude.str[2:-1]
busan.longitude = busan.longitude.str[2:-1]

busan.hdg = busan.hdg.str[1:-1]

In [17]:
lt = list(busan[busan.hdg=='-99.-'].index)
for i in lt:
    busan.loc[i,'hdg']='-99.9'
    
busan = busan.astype({'latitude':'float','longitude':'float', 'hdg':'float'})

In [18]:
busan['anchor_drag'] = 0

In [19]:
busan.to_csv('../기상청공모전/data/busan_anch.csv', encoding = "utf-8", index=False)

In [20]:
busan.head()

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag
1,1,2021-01-08 00:39:00,35.063823,129.053027,0.1,-99.9,344.0,0
2,1,2021-01-08 00:39:00,35.063828,129.053030,0.2,-99.9,342.0,0
3,1,2021-01-08 00:39:00,35.063833,129.053032,0.2,-99.9,339.0,0
4,1,2021-01-08 00:39:00,35.063847,129.053033,0.1,-99.9,337.0,0
5,1,2021-01-08 00:39:00,35.063862,129.053032,0.2,-99.9,336.0,0