In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 울산

In [2]:
ulsan_drag_train_final = pd.read_csv("../기상청공모전/data/ulsan_drag_train_final.csv",encoding = "utf-8", index_col=0)
ulsan_answer = pd.read_csv("../기상청공모전/data/ulsan_answer.csv",encoding = "utf-8", index_col=0)

In [3]:
ulsan_answer.rename(columns={'ulsan_answer.tear':'ulsan_answer.year'}, inplace=True)
ulsan_drag_train_final.loc[72731:73527,'ulsan_drag_train_final.latitude']='N35.45-990'

In [4]:
i_col = list(ulsan_drag_train_final['ulsan_drag_train_final.num'].unique())

In [5]:
anchor_drag = [0 for i in range(len(i_col))]
len(anchor_drag)

163

In [23]:
ulsan = ulsan_drag_train_final.copy()

In [24]:
col_name ={'ulsan_drag_train_final.num':'num',
      'ulsan_drag_train_final.time':'time',
      'ulsan_drag_train_final.latitude':'latitude',
      'ulsan_drag_train_final.longitude':'longitude',
      'ulsan_drag_train_final.sog':'sog',
      'ulsan_drag_train_final.cog':'cog',
      'ulsan_drag_train_final.hdg':'hdg'}

In [26]:
ulsan.rename(columns=col_name, inplace=True)

ulsan.latitude = ulsan.latitude.str[1:]
ulsan.longitude = ulsan.longitude.str[1:]

ulsan.latitude= ulsan.latitude.str.replace('-','0')
ulsan.longitude= ulsan.longitude.str.replace('-','0')

ulsan = ulsan.astype({'latitude':'float','longitude':'float'})

In [27]:
ulsan['anchor_drag'] = 0
ulsan.head()

   num                 time   latitude  longitude  sog   cog  hdg  anchor_drag
1    1  2021-02-14 14:37:11  35.433233  129.45896  0.2  60.0  204            0
2    1  2021-02-14 14:37:21  35.433233  129.45898  0.2  53.0  204            0
3    1  2021-02-14 14:37:33  35.433250  129.45900  0.2  45.0  203            0
4    1  2021-02-14 14:37:42  35.433250  129.45900  0.2  44.0  203            0
5    1  2021-02-14 14:37:52  35.433267  129.45901  0.2  41.0  203            0

In [51]:
nowhere_ulsan = []
for i in i_col:
    col = ulsan_answer[ulsan_answer['ulsan_answer.num']==i]
    n_df = ulsan_drag_train_final[(ulsan_drag_train_final['ulsan_drag_train_final.latitude']==col['ulsan_answer.lat'].values[0])&(ulsan_drag_train_final['ulsan_drag_train_final.longitude']==col['ulsan_answer.lon'].values[0])]
    if len(n_df.index)==0:
        nowhere_ulsan.append(i)
print(nowhere_ulsan)

[38, 51]

In [30]:
for i in i_col:
    col = ulsan_answer[ulsan_answer['ulsan_answer.num']==i]
    
    if i in nowhere_ulsan:
        year = col['ulsan_answer.year'].values[0]
        mon = col['ulsan_answer.mon'].apply(lambda x: str(x).zfill(2)).values[0]
        day = col['ulsan_answer.day'].apply(lambda x: str(x).zfill(2)).values[0]
        hour = col['ulsan_answer.hour'].values[0]
        minute = col['ulsan_answer.min'].apply(lambda x: str(x).zfill(2)).values[0]
        date = f'{year}-{mon}-{day} {hour}:{minute}'            
        
        n_df = ulsan_drag_train_final[ulsan_drag_train_final['ulsan_drag_train_final.time']==date]
        start = n_df.index[0]
        
    else:
        n_df = ulsan_drag_train_final[(ulsan_drag_train_final['ulsan_drag_train_final.latitude']==col['ulsan_answer.lat'].values[0])&
                                      (ulsan_drag_train_final['ulsan_drag_train_final.longitude']==col['ulsan_answer.lon'].values[0])]

        start = n_df.index[0]
        
    end = ulsan_drag_train_final[ulsan_drag_train_final['ulsan_drag_train_final.num']==i].index[-1]
    ulsan.loc[start:end, 'anchor_drag']=1

In [33]:
ulsan.to_csv('../기상청공모전/ulsan.csv', encoding = "utf-8", index=False)

In [34]:
ulsan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218612 entries, 1 to 218612
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   num          218612 non-null  int64
 1   time         218612 non-null  object
 2   latitude     218612 non-null  float64
 3   longitude    218612 non-null  float64
 4   sog          218612 non-null  float64
 5   cog          218612 non-null  float64
 6   hdg          218612 non-null  int64
 7   anchor_drag  218612 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 23.1+ MB

## 부산

In [35]:
busan_drag_train_final = pd.read_csv("../기상청공모전/data/busan_drag_train_final.csv",encoding = "utf-8", index_col=0)
busan_answer = pd.read_csv("../기상청공모전/data/busan_answer.csv",encoding = "utf-8", index_col=0)

In [36]:
busan_answer.rename(columns={'busan_answer.tear':'busan_answer.year'}, inplace=True)
busan_drag_train_final.loc[119030,'busan_drag_train_final.longitude']='E129.0-990'

In [37]:
i_col2 = list(busan_drag_train_final['busan_drag_train_final.num'].unique())

In [38]:
anchor_drag2 = [0 for i in range(len(i_col2))]
len(anchor_drag2)

87

In [39]:
busan = busan_drag_train_final.copy()

In [40]:
col_name ={'busan_drag_train_final.num':'num',
      'busan_drag_train_final.time':'time',
      'busan_drag_train_final.latitude':'latitude',
      'busan_drag_train_final.longitude':'longitude',
      'busan_drag_train_final.sog':'sog',
      'busan_drag_train_final.cog':'cog',
      'busan_drag_train_final.hdg':'hdg'}

In [41]:
busan.rename(columns=col_name, inplace=True)

busan.latitude = busan.latitude.str[1:]
busan.longitude = busan.longitude.str[1:]

busan.latitude= busan.latitude.str.replace('-','0')
busan.longitude= busan.longitude.str.replace('-','0')

busan = busan.astype({'latitude':'float','longitude':'float'})

In [58]:
busan['anchor_drag'] = 0
busan[.head()]

,num,time,latitude,longitude,sog,cog,hdg,anchor_drag
225702,87,2022-05-05 11:37,35.054883,129.06553,0.1,220.0,235,0
225703,87,2022-05-05 11:43,35.054833,129.06556,0.0,151.0,239,0
225704,87,2022-05-05 11:46,35.054867,129.06555,0.1,267.0,237,0
225705,87,2022-05-05 11:49,35.054867,129.06551,0.1,243.0,234,0
225706,87,2022-05-05 11:52,35.054833,129.06551,0.0,172.0,235,0
...,...,...,...,...,...,...,...,...
226482,87,2022-05-07 20:25,35.053083,129.06133,1.3,26.0,97,0
226483,87,2022-05-07 20:25,35.053083,129.06133,1.3,29.0,99,0
226484,87,2022-05-07 20:26,35.053117,129.06140,1.2,48.0,106,0
226485,87,2022-05-07 20:26,35.053117,129.06141,1.2,52.0,108,0
226486,87,2022-05-07 20:26,35.053133,129.06150,1.2,80.0,116,0

In [53]:
nowhere_busan = []
for i in i_col2:
    col = busan_answer[busan_answer['busan_answer.num']==i]
    n_df = busan_drag_train_final[(busan_drag_train_final['busan_drag_train_final.latitude']==col['busan_answer.lat'].values[0])&(busan_drag_train_final['busan_drag_train_final.longitude']==col['busan_answer.lon'].values[0])]
    if len(n_df.index)==0:
        nowhere_busan.append(i)
print(nowhere_busan)

[19, 22, 36]

In [59]:
for i in i_col2:
    col = busan_answer[busan_answer['busan_answer.num']==i]
    
    if i in nowhere_busan:
        year = col['busan_answer.year'].values[0]
        mon = col['busan_answer.mon'].apply(lambda x: str(x).zfill(2)).values[0]
        day = col['busan_answer.day'].apply(lambda x: str(x).zfill(2)).values[0]
        hour = col['busan_answer.hour'].values[0]
        minute = col['busan_answer.min'].apply(lambda x: str(x).zfill(2)).values[0]
        date = f'{year}-{mon}-{day} {hour}:{minute}' 
            
        n_df = busan_drag_train_final[busan_drag_train_final['busan_drag_train_final.time']==date]
        start = n_df.index[0]
        
    else:
        n_df = busan_drag_train_final[(busan_drag_train_final['busan_drag_train_final.latitude']==col['busan_answer.lat'].values[0])&
                              (busan_drag_train_final['busan_drag_train_final.longitude']==col['busan_answer.lon'].values[0])]
        start = n_df.index[0]
    
    end = busan_drag_train_final[busan_drag_train_final['busan_drag_train_final.num']==i].index[-1]
    busan.loc[start:end, 'anchor_drag']=1

In [62]:
busan.to_csv('../기상청공모전/busan.csv', encoding = "utf-8", index=False)

In [60]:
busan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226486 entries, 1 to 226486
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   num          226486 non-null  int64
 1   time         226486 non-null  object
 2   latitude     226486 non-null  float64
 3   longitude    226486 non-null  float64
 4   sog          226486 non-null  float64
 5   cog          226486 non-null  float64
 6   hdg          226486 non-null  int64
 7   anchor_drag  226486 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 23.6+ MB

# 파고부이 데이터

In [11]:
import pandas as pd
khnp_buoy_train = pd.read_csv("../기상청공모전/data/khnp_buoy_train.csv",encoding = "utf-8", index_col=0)
khoa_buoy_train = pd.read_csv("../기상청공모전/data/khoa_buoy_train.csv",encoding = "utf-8", index_col=0)
kma_lightbecon_train = pd.read_csv("../기상청공모전/data/kma_lightbecon_train.csv",encoding = "utf-8", index_col=0)
kma_pagobuoy_train = pd.read_csv("../기상청공모전/data/kma_pagobuoy_train.csv",encoding = "utf-8", index_col=0)

In [12]:
# 한수원 파고부이
khnp_buoy = khnp_buoy_train.copy() #고리

col_name ={'khnp_buoy_train.yyyymmddhhmi':'time',
      'khnp_buoy_train.stn_name':'stn',
      'khnp_buoy_train.ws':'ws',
      'khnp_buoy_train.wd':'wd'}

khnp_buoy.rename(columns=col_name, inplace=True)
khnp_buoy.head()

           time   stn    ws  wd
1  202101010000  Gori  37.0  84
2  202101010001  Gori  27.8  88
3  202101010002  Gori  39.3  84
4  202101010003  Gori  26.5  86
5  202101010004  Gori  36.6  85

In [13]:
# 해양조사원 파고부이
khoa_buoy = khoa_buoy_train.copy() # 송정&해운대

col_name ={'khoa_buoy_train.yyyymmddhhmi':'time',
           'khoa_buoy_train.stn_name':'stn_name',
           'khoa_buoy_train.ws':'ws',
           'khoa_buoy_train.wd_point':'wd_point',
           'khoa_buoy_train.wd':'wd'}

khoa_buoy.rename(columns=col_name, inplace=True)
khoa_buoy.head()

           time   stn_name    ws wd_point    wd
1  202101010000  SongJeong  45.3       NE  49.0
2  202101010005  SongJeong  43.0       NE  48.0
3  202101010010  SongJeong  45.0       NE  50.0
4  202101010015  SongJeong  44.8       NE  48.0
5  202101010020  SongJeong  43.2       NE  49.0

In [14]:
# 기상청 파고부이
kma_pagobuoy = kma_pagobuoy_train.copy() #['장안', '오륙도', '다대포', '간절곶', '기장', '당사']

col_name ={'kma_pagobuoy_train.yyyymmddhhmi':'time',
           'kma_pagobuoy_train.stn':'stn',
           'kma_pagobuoy_train.stn_name':'stn_name',
           'kma_pagobuoy_train.max_wh':'max_wh',
           'kma_pagobuoy_train.sig_wh':'sig_wh',
           'kma_pagobuoy_train.mean_wh':'mean_wh'}

kma_pagobuoy.rename(columns=col_name, inplace=True)
kma_pagobuoy.head()

         time    stn stn_name  max_wh  sig_wh  mean_wh
1  2021010100  22454       장안     0.7     0.5      0.3
2  2021010101  22454       장안     0.6     0.5      0.4
3  2021010102  22454       장안     0.8     0.6      0.4
4  2021010103  22454       장안     0.6     0.5      0.3
5  2021010104  22454       장안     0.6     0.4      0.3

In [15]:
# 기상청 등표
kma_lightbecon = kma_lightbecon_train.copy() #오륙도 & 이덕서

col_name ={'kma_lightbecon_train.yyyymmddhhmi':'time',
           'kma_lightbecon_train.stn':'stn',
           'kma_lightbecon_train.stn_name':'stn_name',
           'kma_lightbecon_train.wd':'wd',
           'kma_lightbecon_train.ws':'ws'}

kma_lightbecon.rename(columns=col_name, inplace=True)
kma_lightbecon.head()

           time  stn stn_name   wd   ws
1  202101010000  963  Idukseo  191  3.4
2  202101010000  963  Idukseo  191  3.4
3  202101010001  963  Idukseo  127  5.2
4  202101010002  963  Idukseo   99  5.4
5  202101010003  963  Idukseo  110  5.3

In [16]:
khnp_buoy['time'] = khnp_buoy['time'].astype('str')
khnp_buoy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786240 entries, 1 to 786240
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    786240 non-null  object
 1   stn     786240 non-null  object
 2   ws      786240 non-null  float64
 3   wd      786240 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 30.0+ MB

In [17]:
khnp_buoy['time'].str[4].append['-']
khnp_buoy.head()

TypeError: 'method' object is not subscriptable

In [18]:
ulsan_ans = ulsan_answer.copy()
ulsan_ans['time'] = ulsan_ans[ulsan_ans]

,ulsan_answer.area,ulsan_answer.year,ulsan_answer.num,ulsan_answer.mon,ulsan_answer.day,ulsan_answer.hour,ulsan_answer.min,ulsan_answer.lat,ulsan_answer.lon
1,ULSAN,2021,1,2,15,18,41,N35.431217,E129.46316
2,ULSAN,2021,2,2,21,14,56,N35.453320,E129.46086
3,ULSAN,2021,3,2,21,21,58,N35.450960,E129.45168
4,ULSAN,2021,4,2,26,10,5,N35.464458,E129.43729
5,ULSAN,2021,5,2,26,13,59,N35.427322,E129.43845

In [20]:
ulsan_answer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 1 to 163
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ulsan_answer.area  163 non-null    object
 1   ulsan_answer.year  163 non-null    int64
 2   ulsan_answer.num   163 non-null    int64
 3   ulsan_answer.mon   163 non-null    int64
 4   ulsan_answer.day   163 non-null    int64
 5   ulsan_answer.hour  163 non-null    int64
 6   ulsan_answer.min   163 non-null    int64
 7   ulsan_answer.lat   163 non-null    object
 8   ulsan_answer.lon   163 non-null    object
dtypes: int64(6), object(3)
memory usage: 12.7+ KB