In [1]:
import pandas as pd

## busan_anch_train_final - 정박

In [2]:
busan_anch_train_final = pd.read_csv("../기상청공모전/data/busan_anch_train_final.csv",encoding = "utf-8")
busan_anch_train_final

,Unnamed: 0,busan_anch_train_final.num,busan_anch_train_final.time,busan_anch_train_final.latitude,busan_anch_train_final.longitude,busan_anch_train_final.sog,busan_anch_train_final.cog,busan_anch_train_final.hdg
0,1,1,2021-01-08 0:39,N35.063823,E129.05302,0.1,-99.9,344.0
1,2,1,2021-01-08 0:39,N35.063828,E129.05303,0.2,-99.9,342.0
2,3,1,2021-01-08 0:39,N35.063833,E129.05303,0.2,-99.9,339.0
3,4,1,2021-01-08 0:39,N35.063847,E129.05303,0.1,-99.9,337.0
4,5,1,2021-01-08 0:39,N35.063862,E129.05303,0.2,-99.9,336.0
...,...,...,...,...,...,...,...,...
67742,67743,160,2022-04-10 17:36:26,N35.048752,E129.04212,0.1,125.3,222.0
67743,67744,160,2022-04-10 17:39:26,N35.048738,E129.04216,0.1,149.6,223.0
67744,67745,160,2022-04-10 17:45:26,N35.048702,E129.04217,0.1,152.4,223.0
67745,67746,160,2022-04-10 17:48:26,N35.048752,E129.04216,0.1,172.6,223.0
67746,67747,160,2022-04-10 17:51:26,N35.048700,E129.04215,0.0,148.1,222.0

In [3]:
ship_num = busan_anch_train_final.iloc[:,1].unique()
ship_num

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 159, 160], dtype=int64)

In [4]:
print(len(ship_num))

141

In [5]:
for i in ship_num:
    x = busan_anch_train_final[busan_anch_train_final.iloc[:,1] == i]
    print(f'busan_anch_train_final : {i}')
    print(f'데이터 수 : {len(x)}')
    print(f'start : {x.iloc[0,2]}')
    print(f'end   : {x.iloc[-1,2]}')
    print('')

busan_anch_train_final : 1
데이터 수 : 324
start : 2021-01-08 0:39
end   : 2021-01-08 18:02

busan_anch_train_final : 2
데이터 수 : 2103
start : 2021-01-04 19:27:04
end   : 2021-01-05 01:36:58

busan_anch_train_final : 3
데이터 수 : 163
start : 2021-01-11 23:46:40
end   : 2021-01-12 10:07:46

busan_anch_train_final : 4
데이터 수 : 211
start : 2021-01-14 15:24:45
end   : 2021-01-15 09:33:46

busan_anch_train_final : 5
데이터 수 : 38
start : 2021-01-01 19:42:00
end   : 2021-01-01 22:12:00

busan_anch_train_final : 6
데이터 수 : 1325
start : 2021-01-13 02:42:03
end   : 2021-01-13 08:54:32

busan_anch_train_final : 7
데이터 수 : 148
start : 2021-01-04 09:04:39
end   : 2021-01-04 20:40:42

busan_anch_train_final : 8
데이터 수 : 57
start : 2021-01-01 14:12:28
end   : 2021-01-01 18:03:31

busan_anch_train_final : 9
데이터 수 : 235
start : 2021-01-15 03:06:03
end   : 2021-01-15 14:29:13

busan_anch_train_final : 10
데이터 수 : 1271
start : 2021-01-02 4:18
end   : 2021-01-02 9:44

busan_anch_train_final : 11
데이터 수 : 142
start : 2021-01-10 14:39:53
end   : 2021-01-11 00:00:49

busan_anch_train_final : 12
데이터 수 : 219
start : 2021-01-01 11:34:17
end   : 2021-01-01 16:48:16

busan_anch_train_final : 13
데이터 수 : 48
start : 2021-01-05 10:59:09
end   : 2021-01-05 13:48:13

busan_anch_train_final : 14
데이터 수 : 118
start : 2021-06-01 0:50
end   : 2021-06-01 7:28

busan_anch_train_final : 15
데이터 수 : 123
start : 2021-06-02 02:11:56
end   : 2021-06-02 10:43:52

busan_anch_train_final : 16
데이터 수 : 342
start : 2021-06-07 14:15:06
end   : 2021-06-08 07:29:54

busan_anch_train_final : 17
데이터 수 : 335
start : 2021-06-03 15:43:13
end   : 2021-06-04 08:49:22

busan_anch_train_final : 18
데이터 수 : 604
start : 2021-06-10 02:46:34
end   : 2021-06-10 22:07:23

busan_anch_train_final : 19
데이터 수 : 298
start : 2021-06-09 07:01:09
end   : 2021-06-10 06:50:38

busan_anch_train_final : 20
데이터 수 : 918
start : 2021-06-08 08:06:04
end   : 2021-06-09 08:13:50

busan_anch_train_final : 21
데이터 수 : 2281
start : 2021-06-10 07:38:09
end   : 2021-06-11 07:28:51

busan_anch_train_final : 22
데이터 수 : 680
start : 2021-06-05 18:12:38
end   : 2021-06-07 18:01:46

busan_anch_train_final : 23
데이터 수 : 160
start : 2021-06-03 02:16:53
end   : 2021-06-03 10:26:45

busan_anch_train_final : 24
데이터 수 : 224
start : 2021-06-01 18:21:30
end   : 2021-06-02 10:31:13

busan_anch_train_final : 25
데이터 수 : 187
start : 2021-06-07 10:30:34
end   : 2021-06-08 00:54:36

busan_anch_train_final : 26
데이터 수 : 72
start : 2021-06-09 14:40:09
end   : 2021-06-09 18:19:57

busan_anch_train_final : 27
데이터 수 : 208
start : 2021-06-01 10:10:49
end   : 2021-06-01 20:04:59

busan_anch_train_final : 28
데이터 수 : 32
start : 2021-07-28 23:43
end   : 2021-07-29 2:40

busan_anch_train_final : 29
데이터 수 : 95
start : 2021-07-10 09:48:28
end   : 2021-07-10 18:52:07

busan_anch_train_final : 30
데이터 수 : 264
start : 2021-08-15 02:14:09
end   : 2021-08-15 19:20:52

busan_anch_train_final : 31
데이터 수 : 288
start : 2021-08-11 23:25:17
end   : 2021-08-12 23:22:27

busan_anch_train_final : 32
데이터 수 : 171
start : 2021-08-16 00:47:45
end   : 2021-08-16 12:11:43

busan_anch_train_final : 33
데이터 수 : 271
start : 2021-08-15 14:46:03
end   : 2021-08-16 05:10:40

busan_anch_train_final : 34
데이터 수 : 535
start : 2021-07-31 20:54:13
end   : 2021-08-02 15:59:57

busan_anch_train_final : 35
데이터 수 : 333
start : 2021-08-09 23:06:16
end   : 2021-08-10 22:48:31

busan_anch_train_final : 36
데이터 수 : 237
start : 2021-08-09 22:11:33
end   : 2021-08-10 11:17:33

busan_anch_train_final : 37
데이터 수 : 3313
start : 2021-07-11 8:11
end   : 2021-07-12 7:33

busan_anch_train_final : 38
데이터 수 : 1165
start : 2021-08-01 03:04:08
end   : 2021-08-01 18:12:05

busan_anch_train_final : 39
데이터 수 : 186
start : 2021-07-25 07:45:07
end   : 2021-07-25 22:32:09

busan_anch_train_final : 40
데이터 수 : 333
start : 2021-07-28 15:36:24
end   : 2021-07-29 17:36:25

busan_anch_train_final : 41
데이터 수 : 6690
start : 2021-08-13 20:20
end   : 2021-08-14 20:12

busan_anch_train_final : 42
데이터 수 : 169
start : 2021-07-23 17:31:45
end   : 2021-07-24 06:31:45

busan_anch_train_final : 43
데이터 수 : 325
start : 2021-07-10 06:06:17
end   : 2021-07-11 05:57:19

busan_anch_train_final : 44
데이터 수 : 141
start : 2021-07-22 23:40:03
end   : 2021-07-23 09:49:34

busan_anch_train_final : 45
데이터 수 : 405
start : 2021-07-18 06:12:07
end   : 2021-07-19 06:11:05

busan_anch_train_final : 46
데이터 수 : 353
start : 2021-08-14 08:21:11
end   : 2021-08-15 08:17:03

busan_anch_train_final : 47
데이터 수 : 650
start : 2021-09-28 9:24
end   : 2021-09-28 18:51

busan_anch_train_final : 48
데이터 수 : 37
start : 2021-11-05 19:47:57
end   : 2021-11-05 22:51:03

busan_anch_train_final : 49
데이터 수 : 249
start : 2021-10-06 23:55:15
end   : 2021-10-07 19:51:10

busan_anch_train_final : 50
데이터 수 : 362
start : 2021-10-31 17:37:58
end   : 2021-11-01 19:58:55

busan_anch_train_final : 51
데이터 수 : 108
start : 2021-11-03 17:00
end   : 2021-11-04 2:26

busan_anch_train_final : 52
데이터 수 : 117
start : 2021-09-30 03:42:10
end   : 2021-09-30 12:11:59

busan_anch_train_final : 53
데이터 수 : 160
start : 2021-10-31 07:04:11
end   : 2021-10-31 19:03:21

busan_anch_train_final : 54
데이터 수 : 115
start : 2021-10-08 18:52:07
end   : 2021-10-09 03:44:38

busan_anch_train_final : 55
데이터 수 : 110
start : 2021-11-01 17:42:07
end   : 2021-11-02 02:00:44

busan_anch_train_final : 56
데이터 수 : 285
start : 2021-09-21 10:25:51
end   : 2021-09-22 09:13:56

busan_anch_train_final : 57
데이터 수 : 151
start : 2021-09-25 08:28:43
end   : 2021-09-25 16:18:33

busan_anch_train_final : 58
데이터 수 : 49
start : 2021-10-29 10:10:09
end   : 2021-10-29 12:14:54

busan_anch_train_final : 59
데이터 수 : 326
start : 2021-10-29 14:12:07
end   : 2021-10-30 08:29:42

busan_anch_train_final : 60
데이터 수 : 3849
start : 2021-06-03 16:06:03
end   : 2021-06-04 03:08:37

busan_anch_train_final : 61
데이터 수 : 107
start : 2022-01-15 13:46:25
end   : 2022-01-15 18:37:07

busan_anch_train_final : 62
데이터 수 : 438
start : 2022-01-16 06:41:54
end   : 2022-01-17 06:21:07

busan_anch_train_final : 63
데이터 수 : 432
start : 2022-01-16 10:01:16
end   : 2022-01-17 09:56:19

busan_anch_train_final : 64
데이터 수 : 131
start : 2022-01-17 16:50:00
end   : 2022-01-18 01:06:15

busan_anch_train_final : 65
데이터 수 : 357
start : 2022-01-18 13:36
end   : 2022-01-19 8:33

busan_anch_train_final : 66
데이터 수 : 452
start : 2022-01-18 19:24:07
end   : 2022-01-19 19:20:25

busan_anch_train_final : 67
데이터 수 : 110
start : 2022-01-19 03:26:00
end   : 2022-01-19 11:31:13

busan_anch_train_final : 68
데이터 수 : 123
start : 2022-01-19 3:34
end   : 2022-01-19 11:20

busan_anch_train_final : 69
데이터 수 : 32
start : 2022-01-19 14:45:18
end   : 2022-01-19 16:59:34

busan_anch_train_final : 70
데이터 수 : 100
start : 2022-01-21 04:00:03
end   : 2022-01-21 11:41:48

busan_anch_train_final : 71
데이터 수 : 130
start : 2022-01-22 11:32:05
end   : 2022-01-22 21:35:40

busan_anch_train_final : 72
데이터 수 : 324
start : 2022-01-22 18:12:10
end   : 2022-01-23 18:08:12

busan_anch_train_final : 73
데이터 수 : 253
start : 2022-01-22 20:33:16
end   : 2022-01-23 18:10:17

busan_anch_train_final : 74
데이터 수 : 241
start : 2022-01-24 17:52:07
end   : 2022-01-25 08:53:31

busan_anch_train_final : 75
데이터 수 : 222
start : 2022-01-24 19:33
end   : 2022-01-25 8:59

busan_anch_train_final : 76
데이터 수 : 285
start : 2022-01-24 20:45
end   : 2022-01-25 15:40

busan_anch_train_final : 77
데이터 수 : 288
start : 2022-01-26 14:06:45
end   : 2022-01-27 13:59:45

busan_anch_train_final : 78
데이터 수 : 274
start : 2022-01-27 13:07:06
end   : 2022-01-28 13:52:06

busan_anch_train_final : 79
데이터 수 : 297
start : 2022-01-27 19:58:08
end   : 2022-01-28 13:58:07

busan_anch_train_final : 80
데이터 수 : 91
start : 2022-01-29 02:31:05
end   : 2022-01-29 08:06:53

busan_anch_train_final : 81
데이터 수 : 404
start : 2022-01-30 01:57:21
end   : 2022-01-31 01:01:58

busan_anch_train_final : 82
데이터 수 : 455
start : 2022-01-30 09:13:32
end   : 2022-01-31 09:11:28

busan_anch_train_final : 83
데이터 수 : 435
start : 2022-01-31 01:25:07
end   : 2022-02-01 01:18:30

busan_anch_train_final : 84
데이터 수 : 212
start : 2022-02-10 22:42:08
end   : 2022-02-11 15:02:29

busan_anch_train_final : 85
데이터 수 : 57
start : 2022-02-11 15:23:05
end   : 2022-02-11 18:16:03

busan_anch_train_final : 86
데이터 수 : 175
start : 2022-02-12 00:01:02
end   : 2022-02-12 12:14:56

busan_anch_train_final : 87
데이터 수 : 206
start : 2022-02-13 01:02:13
end   : 2022-02-13 17:06:38

busan_anch_train_final : 88
데이터 수 : 314
start : 2022-02-13 04:16:08
end   : 2022-02-13 20:07:35

busan_anch_train_final : 89
데이터 수 : 295
start : 2022-02-14 11:21:57
end   : 2022-02-15 03:40:00

busan_anch_train_final : 90
데이터 수 : 127
start : 2022-02-14 14:04:25
end   : 2022-02-14 19:31:26

busan_anch_train_final : 91
데이터 수 : 177
start : 2022-02-14 17:06:00
end   : 2022-02-15 04:53:12

busan_anch_train_final : 92
데이터 수 : 7325
start : 2022-02-15 01:14:06
end   : 2022-02-16 01:11:16

busan_anch_train_final : 93
데이터 수 : 249
start : 2022-02-16 14:20:35
end   : 2022-02-17 08:55:29

busan_anch_train_final : 94
데이터 수 : 61
start : 2022-02-18 09:30:36
end   : 2022-02-18 12:33:39

busan_anch_train_final : 95
데이터 수 : 404
start : 2022-02-20 1:48
end   : 2022-02-20 19:54

busan_anch_train_final : 96
데이터 수 : 414
start : 2022-02-20 22:54:40
end   : 2022-02-21 22:46:28

busan_anch_train_final : 97
데이터 수 : 166
start : 2022-02-22 06:39:12
end   : 2022-02-22 14:33:33

busan_anch_train_final : 98
데이터 수 : 435
start : 2022-02-22 10:19:27
end   : 2022-02-23 10:11:42

busan_anch_train_final : 99
데이터 수 : 91
start : 2022-02-26 08:01:11
end   : 2022-02-26 12:29:04

busan_anch_train_final : 100
데이터 수 : 296
start : 2022-02-27 14:20:26
end   : 2022-02-28 14:14:31

busan_anch_train_final : 101
데이터 수 : 77
start : 2022-03-02 10:12:04
end   : 2022-03-02 15:18:06

busan_anch_train_final : 102
데이터 수 : 348
start : 2022-03-03 10:38:30
end   : 2022-03-04 06:41:36

busan_anch_train_final : 103
데이터 수 : 185
start : 2022-03-03 23:46:09
end   : 2022-03-04 08:52:09

busan_anch_train_final : 104
데이터 수 : 41
start : 2022-03-05 14:32:36
end   : 2022-03-05 17:41:39

busan_anch_train_final : 105
데이터 수 : 90
start : 2022-03-07 06:57:06
end   : 2022-03-07 12:12:56

busan_anch_train_final : 106
데이터 수 : 77
start : 2022-03-07 13:55:02
end   : 2022-03-07 18:45:15

busan_anch_train_final : 107
데이터 수 : 194
start : 2022-03-10 16:53:40
end   : 2022-03-11 07:32:43

busan_anch_train_final : 108
데이터 수 : 237
start : 2022-03-27 00:17:02
end   : 2022-03-27 14:25:53

busan_anch_train_final : 109
데이터 수 : 55
start : 2022-03-27 07:07:07
end   : 2022-03-27 11:22:07

busan_anch_train_final : 110
데이터 수 : 42
start : 2022-03-28 18:05:38
end   : 2022-03-28 21:45:07

busan_anch_train_final : 111
데이터 수 : 146
start : 2022-03-28 18:10:23
end   : 2022-03-29 17:04:28

busan_anch_train_final : 112
데이터 수 : 6159
start : 2022-03-29 08:57:06
end   : 2022-03-30 02:24:55

busan_anch_train_final : 113
데이터 수 : 358
start : 2022-03-29 11:46:07
end   : 2022-03-30 11:43:21

busan_anch_train_final : 114
데이터 수 : 607
start : 2022-03-30 09:42:41
end   : 2022-03-31 05:01:17

busan_anch_train_final : 115
데이터 수 : 366
start : 2022-03-31 09:41:03
end   : 2022-04-01 09:37:54

busan_anch_train_final : 116
데이터 수 : 445
start : 2022-03-31 11:32:07
end   : 2022-04-01 11:28:34

busan_anch_train_final : 117
데이터 수 : 179
start : 2022-03-31 17:38:07
end   : 2022-04-01 01:53:44

busan_anch_train_final : 118
데이터 수 : 266
start : 2022-03-31 17:33:14
end   : 2022-04-01 09:19:42

busan_anch_train_final : 119
데이터 수 : 94
start : 2022-04-01 12:07:43
end   : 2022-04-01 18:10:47

busan_anch_train_final : 120
데이터 수 : 159
start : 2022-04-04 08:29:49
end   : 2022-04-04 18:44:34

busan_anch_train_final : 121
데이터 수 : 54
start : 2022-04-05 19:42:25
end   : 2022-04-06 00:39:25

busan_anch_train_final : 122
데이터 수 : 213
start : 2022-04-06 23:37:37
end   : 2022-04-07 13:36:59

busan_anch_train_final : 123
데이터 수 : 68
start : 2022-04-07 02:09:17
end   : 2022-04-07 08:14:46

busan_anch_train_final : 124
데이터 수 : 171
start : 2022-04-07 17:34:03
end   : 2022-04-08 02:45:21

busan_anch_train_final : 125
데이터 수 : 229
start : 2022-04-08 06:58:13
end   : 2022-04-08 15:38:55

busan_anch_train_final : 126
데이터 수 : 43
start : 2022-04-08 08:16:45
end   : 2022-04-08 11:20:14

busan_anch_train_final : 127
데이터 수 : 305
start : 2022-04-08 12:46
end   : 2022-04-09 10:58

busan_anch_train_final : 128
데이터 수 : 253
start : 2022-04-09 6:59
end   : 2022-04-10 3:35

busan_anch_train_final : 129
데이터 수 : 79
start : 2022-04-10 08:07:44
end   : 2022-04-10 13:19:44

busan_anch_train_final : 130
데이터 수 : 422
start : 2022-05-10 12:25:05
end   : 2022-05-10 15:00:55

busan_anch_train_final : 131
데이터 수 : 282
start : 2022-05-21 00:22:50
end   : 2022-05-22 00:16:41

busan_anch_train_final : 132
데이터 수 : 89
start : 2022-05-25 15:12:07
end   : 2022-05-25 23:15:09

busan_anch_train_final : 133
데이터 수 : 745
start : 2022-05-30 19:00
end   : 2022-06-02 18:58

busan_anch_train_final : 134
데이터 수 : 1290
start : 2022-05-30 19:03:00
end   : 2022-06-02 19:00:29

busan_anch_train_final : 135
데이터 수 : 403
start : 2022-06-01 08:35:03
end   : 2022-06-02 08:34:36

busan_anch_train_final : 136
데이터 수 : 402
start : 2022-06-03 12:17:39
end   : 2022-06-04 11:25:47

busan_anch_train_final : 137
데이터 수 : 94
start : 2022-06-05 01:30:57
end   : 2022-06-05 09:24:57

busan_anch_train_final : 138
데이터 수 : 492
start : 2022-06-07 13:54:02
end   : 2022-06-08 13:51:21

busan_anch_train_final : 139
데이터 수 : 81
start : 2022-06-08 03:40:07
end   : 2022-06-08 09:43:42

busan_anch_train_final : 159
데이터 수 : 167
start : 2022-02-26 5:21
end   : 2022-02-26 19:27

busan_anch_train_final : 160
데이터 수 : 47
start : 2022-04-10 14:27:26
end   : 2022-04-10 17:51:26

## busan_drag_train_final - 닻끌림 발생

In [6]:
busan_drag_train_final = pd.read_csv("../기상청공모전/data/busan_drag_train_final.csv",encoding = "utf-8")
busan_drag_train_final

,Unnamed: 0,busan_drag_train_final.num,busan_drag_train_final.time,busan_drag_train_final.latitude,busan_drag_train_final.longitude,busan_drag_train_final.sog,busan_drag_train_final.cog,busan_drag_train_final.hdg
0,1,1,2021-01-14 22:47,N35.049747,E129.07212,0.5,123.8,-99
1,2,1,2021-01-14 22:50,N35.049485,E129.07243,0.2,131.7,-99
2,3,1,2021-01-14 22:56,N35.049452,E129.07244,0.2,255.9,-99
3,4,1,2021-01-14 23:02,N35.049402,E129.07225,0.1,280.3,-99
4,5,1,2021-01-14 23:11,N35.049100,E129.07221,0.1,157.6,-99
...,...,...,...,...,...,...,...,...
226481,226482,87,2022-05-07 20:25,N35.053083,E129.06133,1.3,26.0,97
226482,226483,87,2022-05-07 20:25,N35.053083,E129.06133,1.3,29.0,99
226483,226484,87,2022-05-07 20:26,N35.053117,E129.06140,1.2,48.0,106
226484,226485,87,2022-05-07 20:26,N35.053117,E129.06141,1.2,52.0,108
226485,226486,87,2022-05-07 20:26,N35.053133,E129.06150,1.2,80.0,116

In [7]:
ship_num = busan_drag_train_final.iloc[:,1].unique()
ship_num

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87], dtype=int64)

In [8]:
len(ship_num)

87

In [9]:
for i in ship_num:
    x = busan_drag_train_final[busan_drag_train_final.iloc[:,1] == i]
    print(f'busan_drag_train_final : {i}')
    print(f'데이터 수 : {len(x)}')
    print(f'start : {x.iloc[0,2]}')
    print(f'end   : {x.iloc[-1,2]}')
    print('')

busan_drag_train_final : 1
데이터 수 : 592
start : 2021-01-14 22:47
end   : 2021-01-17 2:30

busan_drag_train_final : 2
데이터 수 : 78
start : 2021-01-16 23:46
end   : 2021-01-17 4:21

busan_drag_train_final : 3
데이터 수 : 78
start : 2021-01-16 23:20
end   : 2021-01-17 5:22

busan_drag_train_final : 4
데이터 수 : 378
start : 2021-01-22 23:52
end   : 2021-01-23 14:20

busan_drag_train_final : 5
데이터 수 : 451
start : 2021-01-22 17:30
end   : 2021-01-23 16:55

busan_drag_train_final : 6
데이터 수 : 424
start : 2021-01-23 0:11
end   : 2021-01-23 21:59

busan_drag_train_final : 7
데이터 수 : 841
start : 2021-01-20 11:47
end   : 2021-01-23 20:15

busan_drag_train_final : 8
데이터 수 : 1542
start : 2021-01-20 11:45
end   : 2021-01-23 21:32

busan_drag_train_final : 9
데이터 수 : 674
start : 2021-01-25 17:20
end   : 2021-01-27 5:32

busan_drag_train_final : 10
데이터 수 : 508
start : 2021-01-27 16:08
end   : 2021-01-28 23:18

busan_drag_train_final : 11
데이터 수 : 1298
start : 2021-02-13 8:53
end   : 2021-02-16 0:30

busan_drag_train_final : 12
데이터 수 : 21189
start : 2021-02-25 11:19
end   : 2021-02-27 6:50

busan_drag_train_final : 13
데이터 수 : 216
start : 2021-03-01 7:52
end   : 2021-03-01 18:30

busan_drag_train_final : 14
데이터 수 : 404
start : 2021-03-05 17:56
end   : 2021-03-06 10:50

busan_drag_train_final : 15
데이터 수 : 143
start : 2021-03-18 07:19:04
end   : 2021-03-18 13:12:59

busan_drag_train_final : 16
데이터 수 : 397
start : 2021-03-20 18:02
end   : 2021-03-22 1:11

busan_drag_train_final : 17
데이터 수 : 418
start : 2021-03-26 14:14
end   : 2021-03-27 20:59

busan_drag_train_final : 18
데이터 수 : 3764
start : 2021-03-27 3:13
end   : 2021-03-27 21:00

busan_drag_train_final : 19
데이터 수 : 812
start : 2021-03-26 08:12:54
end   : 2021-03-28 05:09:53

busan_drag_train_final : 20
데이터 수 : 301
start : 2021-03-27 10:36
end   : 2021-03-28 2:57

busan_drag_train_final : 21
데이터 수 : 6545
start : 2021-03-31 17:59
end   : 2021-04-01 13:00

busan_drag_train_final : 22
데이터 수 : 18985
start : 2021-03-31 2:15
end   : 2021-04-01 12:49

busan_drag_train_final : 23
데이터 수 : 592
start : 2021-03-31 8:00
end   : 2021-04-01 13:40

busan_drag_train_final : 24
데이터 수 : 999
start : 2021-04-03 10:59
end   : 2021-04-05 11:05

busan_drag_train_final : 25
데이터 수 : 1353
start : 2021-04-09 10:59
end   : 2021-04-12 22:30

busan_drag_train_final : 26
데이터 수 : 3861
start : 2021-04-11 21:50:03
end   : 2021-04-14 02:47:38

busan_drag_train_final : 27
데이터 수 : 1849
start : 2021-04-19 21:50
end   : 2021-04-23 7:58

busan_drag_train_final : 28
데이터 수 : 3060
start : 2021-04-23 6:56
end   : 2021-04-23 16:00

busan_drag_train_final : 29
데이터 수 : 1648
start : 2021-05-01 6:57
end   : 2021-05-04 22:50

busan_drag_train_final : 30
데이터 수 : 1739
start : 2021-05-01 6:58
end   : 2021-05-04 23:58

busan_drag_train_final : 31
데이터 수 : 1147
start : 2021-05-02 06:57:07
end   : 2021-05-04 23:29:59

busan_drag_train_final : 32
데이터 수 : 1094
start : 2021-05-01 20:27:14
end   : 2021-05-04 23:19:54

busan_drag_train_final : 33
데이터 수 : 1184
start : 2021-05-02 15:18
end   : 2021-05-05 1:50

busan_drag_train_final : 34
데이터 수 : 1091
start : 2021-05-01 15:18
end   : 2021-05-05 2:30

busan_drag_train_final : 35
데이터 수 : 1093
start : 2021-05-24 15:19
end   : 2021-05-27 18:28

busan_drag_train_final : 36
데이터 수 : 24513
start : 2021-06-12 15:18
end   : 2021-06-15 22:30

busan_drag_train_final : 37
데이터 수 : 297
start : 2021-06-14 23:50
end   : 2021-06-16 6:45

busan_drag_train_final : 38
데이터 수 : 915
start : 2021-07-01 18:25
end   : 2021-07-04 2:04

busan_drag_train_final : 39
데이터 수 : 8377
start : 2021-07-02 21:00
end   : 2021-07-04 2:10

busan_drag_train_final : 40
데이터 수 : 1159
start : 2021-07-01 10:42
end   : 2021-07-04 4:30

busan_drag_train_final : 41
데이터 수 : 848
start : 2021-07-01 10:43:53
end   : 2021-07-04 04:44:16

busan_drag_train_final : 42
데이터 수 : 1148
start : 2021-07-01 10:41
end   : 2021-07-04 5:14

busan_drag_train_final : 43
데이터 수 : 233
start : 2021-07-03 12:41
end   : 2021-07-04 6:45

busan_drag_train_final : 44
데이터 수 : 451
start : 2021-07-03 13:22
end   : 2021-07-04 6:34

busan_drag_train_final : 45
데이터 수 : 366
start : 2021-07-03 6:18
end   : 2021-07-04 7:00

busan_drag_train_final : 46
데이터 수 : 438
start : 2021-08-20 6:58
end   : 2021-08-21 15:20

busan_drag_train_final : 47
데이터 수 : 1458
start : 2021-08-17 17:51
end   : 2021-08-21 15:26

busan_drag_train_final : 48
데이터 수 : 438
start : 2021-08-20 18:31
end   : 2021-08-21 15:30

busan_drag_train_final : 49
데이터 수 : 673
start : 2021-08-19 20:15
end   : 2021-08-21 16:05

busan_drag_train_final : 50
데이터 수 : 1006
start : 2021-08-18 6:53
end   : 2021-08-21 15:34

busan_drag_train_final : 51
데이터 수 : 819
start : 2021-09-11 9:40
end   : 2021-09-13 14:20

busan_drag_train_final : 52
데이터 수 : 1291
start : 2021-11-05 6:50
end   : 2021-11-08 14:11

busan_drag_train_final : 53
데이터 수 : 17439
start : 2021-11-05 6:49
end   : 2021-11-08 11:19

busan_drag_train_final : 54
데이터 수 : 279
start : 2021-11-07 20:12
end   : 2021-11-08 12:08

busan_drag_train_final : 55
데이터 수 : 721
start : 2021-11-05 20:21
end   : 2021-11-08 13:00

busan_drag_train_final : 56
데이터 수 : 456
start : 2021-11-29 7:06
end   : 2021-11-30 9:52

busan_drag_train_final : 57
데이터 수 : 961
start : 2021-12-03 14:31
end   : 2021-12-04 4:38

busan_drag_train_final : 58
데이터 수 : 768
start : 2021-12-15 18:35
end   : 2021-12-17 13:53

busan_drag_train_final : 59
데이터 수 : 1041
start : 2021-12-15 9:07
end   : 2021-12-17 11:53

busan_drag_train_final : 60
데이터 수 : 886
start : 2021-12-28 14:25
end   : 2021-12-30 10:44

busan_drag_train_final : 61
데이터 수 : 1411
start : 2022-01-08 14:27
end   : 2022-01-12 0:09

busan_drag_train_final : 62
데이터 수 : 2252
start : 2022-01-11 17:00:00
end   : 2022-01-11 23:33:00

busan_drag_train_final : 63
데이터 수 : 528
start : 2022-01-10 18:22
end   : 2022-01-11 23:41

busan_drag_train_final : 64
데이터 수 : 1383
start : 2022-01-08 17:02
end   : 2022-01-11 23:49

busan_drag_train_final : 65
데이터 수 : 668
start : 2022-02-02 16:55
end   : 2022-02-04 3:11

busan_drag_train_final : 66
데이터 수 : 239
start : 2022-02-26 1:57
end   : 2022-02-26 16:53

busan_drag_train_final : 67
데이터 수 : 120
start : 2022-02-26 6:53
end   : 2022-02-26 17:56

busan_drag_train_final : 68
데이터 수 : 4817
start : 2022-03-12 16:23
end   : 2022-03-13 5:00

busan_drag_train_final : 69
데이터 수 : 613
start : 2022-03-16 4:30
end   : 2022-03-17 23:31

busan_drag_train_final : 70
데이터 수 : 9264
start : 2022-03-16 11:13
end   : 2022-03-18 0:25

busan_drag_train_final : 71
데이터 수 : 3886
start : 2022-03-17 11:18
end   : 2022-03-18 4:58

busan_drag_train_final : 72
데이터 수 : 725
start : 2022-03-20 21:06
end   : 2022-03-22 16:37

busan_drag_train_final : 73
데이터 수 : 1991
start : 2022-03-22 9:16
end   : 2022-03-22 16:50

busan_drag_train_final : 74
데이터 수 : 6327
start : 2022-03-21 18:25
end   : 2022-03-22 18:07

busan_drag_train_final : 75
데이터 수 : 1401
start : 2022-03-19 18:25
end   : 2022-03-22 18:15

busan_drag_train_final : 76
데이터 수 : 422
start : 2022-03-21 18:22
end   : 2022-03-22 19:11

busan_drag_train_final : 77
데이터 수 : 27627
start : 2022-03-19 1:49
end   : 2022-03-22 19:19

busan_drag_train_final : 78
데이터 수 : 1026
start : 2022-04-10 8:40
end   : 2022-04-13 2:22

busan_drag_train_final : 79
데이터 수 : 256
start : 2022-04-12 12:07
end   : 2022-04-13 3:19

busan_drag_train_final : 80
데이터 수 : 796
start : 2022-04-10 12:09
end   : 2022-04-13 1:42

busan_drag_train_final : 81
데이터 수 : 571
start : 2022-04-11 19:39
end   : 2022-04-13 2:45

busan_drag_train_final : 82
데이터 수 : 9253
start : 2022-04-10 19:39
end   : 2022-04-13 2:53

busan_drag_train_final : 83
데이터 수 : 946
start : 2022-04-10 12:46
end   : 2022-04-13 3:53

busan_drag_train_final : 84
데이터 수 : 345
start : 2022-04-21 12:46
end   : 2022-04-22 14:23

busan_drag_train_final : 85
데이터 수 : 230
start : 2022-04-28 8:03
end   : 2022-04-28 22:37

busan_drag_train_final : 86
데이터 수 : 875
start : 2022-05-05 11:23
end   : 2022-05-07 20:28

busan_drag_train_final : 87
데이터 수 : 785
start : 2022-05-05 11:37
end   : 2022-05-07 20:26

## ulsan_anch_train_final - 정박

In [10]:
ulsan_anch_train_final = pd.read_csv("../기상청공모전/data/ulsan_anch_train_final.csv",encoding = "utf-8")
ulsan_anch_train_final

,Unnamed: 0,ulsan_anch_train_final.num,ulsan_anch_train_final.time,ulsan_anch_train_final.latitude,ulsan_anch_train_final.longitude,ulsan_anch_train_final.sog,ulsan_anch_train_final.cog,ulsan_anch_train_final.hdg
0,1,1,2021-01-03 11:08:37,N35.461190,E129.43873,0.6,102.9,343
1,2,1,2021-01-03 11:11:36,N35.461160,E129.43954,0.9,70.6,299
2,3,1,2021-01-03 11:14:38,N35.461472,E129.43987,0.4,9.6,273
3,4,1,2021-01-03 11:17:33,N35.461688,E129.43979,0.2,328.0,267
4,5,1,2021-01-03 11:20:37,N35.461708,E129.43973,0.2,260.1,265
...,...,...,...,...,...,...,...,...
169626,169627,127,2022-02-06 23:00:59,N35.459582,E129.41649,0.1,246.5,315
169627,169628,127,2022-02-06 23:04:03,N35.459568,E129.41644,0.0,301.3,322
169628,169629,127,2022-02-06 23:07:00,N35.459557,E129.41656,0.3,98.9,317
169629,169630,127,2022-02-06 23:10:02,N35.459630,E129.41655,0.2,322.3,305
169630,169631,127,2022-02-06 23:13:00,N35.459640,E129.41641,0.2,244.3,306

In [11]:
ship_num = ulsan_anch_train_final.iloc[:,1].unique()
ship_num

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127], dtype=int64)

In [12]:
len(ship_num)

127

In [13]:
for i in ship_num:
    x = ulsan_anch_train_final[ulsan_anch_train_final.iloc[:,1] == i]
    print(f'ulsan_anch_train_final : {i}')
    print(f'데이터 수 : {len(x)}')
    print(f'start : {x.iloc[0,2]}')
    print(f'end   : {x.iloc[-1,2]}')
    print('')

ulsan_anch_train_final : 1
데이터 수 : 457
start : 2021-01-03 11:08:37
end   : 2021-01-04 10:20:39

ulsan_anch_train_final : 2
데이터 수 : 549
start : 2021-01-04 09:47:38
end   : 2021-01-05 11:25:59

ulsan_anch_train_final : 3
데이터 수 : 4123
start : 2021-01-04 13:03:39
end   : 2021-01-05 11:24:55

ulsan_anch_train_final : 4
데이터 수 : 287
start : 2021-01-04 15:55:27
end   : 2021-01-05 06:13:13

ulsan_anch_train_final : 5
데이터 수 : 253
start : 2021-01-06 11:50:03
end   : 2021-01-06 15:32:54

ulsan_anch_train_final : 6
데이터 수 : 617
start : 2021-01-09 05:32:02
end   : 2021-01-10 12:41:14

ulsan_anch_train_final : 7
데이터 수 : 96
start : 2021-01-09 07:00:49
end   : 2021-01-09 11:54:49

ulsan_anch_train_final : 8
데이터 수 : 2012
start : 2021-01-09 09:23:04
end   : 2021-01-10 02:04:52

ulsan_anch_train_final : 9
데이터 수 : 476
start : 2021-01-27 22:39
end   : 2021-01-28 22:27

ulsan_anch_train_final : 10
데이터 수 : 678
start : 2021-01-30 09:50:21
end   : 2021-01-31 20:23:22

ulsan_anch_train_final : 11
데이터 수 : 632
start : 2021-01-30 12:31:57
end   : 2021-01-31 20:25:17

ulsan_anch_train_final : 12
데이터 수 : 1346
start : 2021-01-30 13:08:11
end   : 2021-01-31 11:55:52

ulsan_anch_train_final : 13
데이터 수 : 376
start : 2021-01-31 13:41:43
end   : 2021-02-01 08:44:41

ulsan_anch_train_final : 14
데이터 수 : 471
start : 2021-02-02 08:38:03
end   : 2021-02-03 08:29:03

ulsan_anch_train_final : 15
데이터 수 : 412
start : 2021-02-02 11:49:26
end   : 2021-02-03 08:28:24

ulsan_anch_train_final : 16
데이터 수 : 14221
start : 2021-02-03 09:45:42
end   : 2021-02-04 07:37:25

ulsan_anch_train_final : 17
데이터 수 : 422
start : 2021-02-04 06:44:23
end   : 2021-02-05 02:14:52

ulsan_anch_train_final : 18
데이터 수 : 1021
start : 2021-02-04 10:02:18
end   : 2021-02-05 04:14:56

ulsan_anch_train_final : 19
데이터 수 : 1668
start : 2021-02-04 12:43:18
end   : 2021-02-05 11:12:05

ulsan_anch_train_final : 20
데이터 수 : 406
start : 2021-02-04 17:24:24
end   : 2021-02-05 11:12:01

ulsan_anch_train_final : 21
데이터 수 : 492
start : 2021-02-06 14:10:08
end   : 2021-02-07 14:08:25

ulsan_anch_train_final : 22
데이터 수 : 511
start : 2021-02-07 15:15:02
end   : 2021-02-08 15:05:19

ulsan_anch_train_final : 23
데이터 수 : 460
start : 2021-02-09 19:23:52
end   : 2021-02-10 19:11:52

ulsan_anch_train_final : 24
데이터 수 : 476
start : 2021-02-10 17:42:09
end   : 2021-02-11 17:35:45

ulsan_anch_train_final : 25
데이터 수 : 369
start : 2021-02-10 23:51:06
end   : 2021-02-11 17:34:41

ulsan_anch_train_final : 26
데이터 수 : 197
start : 2021-05-11 05:29:08
end   : 2021-05-11 15:03:58

ulsan_anch_train_final : 27
데이터 수 : 224
start : 2021-05-11 22:49:07
end   : 2021-05-12 11:47:02

ulsan_anch_train_final : 28
데이터 수 : 485
start : 2021-05-12 22:35:44
end   : 2021-05-13 22:58:23

ulsan_anch_train_final : 29
데이터 수 : 281
start : 2021-05-14 20:01:12
end   : 2021-05-15 10:23:29

ulsan_anch_train_final : 30
데이터 수 : 7988
start : 2021-05-17 19:11:24
end   : 2021-05-18 19:09:57

ulsan_anch_train_final : 31
데이터 수 : 111
start : 2021-05-19 10:14:51
end   : 2021-05-19 13:51:43

ulsan_anch_train_final : 32
데이터 수 : 231
start : 2021-05-21 10:15:44
end   : 2021-05-21 20:53:59

ulsan_anch_train_final : 33
데이터 수 : 115
start : 2021-05-21 23:01:37
end   : 2021-05-22 04:37:51

ulsan_anch_train_final : 34
데이터 수 : 81
start : 2021-05-23 15:56:33
end   : 2021-05-23 20:07:53

ulsan_anch_train_final : 35
데이터 수 : 303
start : 2021-05-25 22:10:02
end   : 2021-05-26 13:02:12

ulsan_anch_train_final : 36
데이터 수 : 530
start : 2021-05-29 07:19:07
end   : 2021-05-30 11:24:59

ulsan_anch_train_final : 37
데이터 수 : 6431
start : 2021-05-29 12:11
end   : 2021-05-30 8:13

ulsan_anch_train_final : 38
데이터 수 : 6500
start : 2021-06-03 13:25:00
end   : 2021-06-04 07:59:00

ulsan_anch_train_final : 39
데이터 수 : 59
start : 2021-06-04 16:55:46
end   : 2021-06-04 18:37:44

ulsan_anch_train_final : 40
데이터 수 : 542
start : 2021-06-06 15:28:09
end   : 2021-06-07 22:34:11

ulsan_anch_train_final : 41
데이터 수 : 667
start : 2021-06-07 10:50:03
end   : 2021-06-08 13:10:21

ulsan_anch_train_final : 42
데이터 수 : 322
start : 2021-06-07 13:40:02
end   : 2021-06-08 07:05:43

ulsan_anch_train_final : 43
데이터 수 : 76
start : 2021-06-12 03:45:25
end   : 2021-06-12 07:21:37

ulsan_anch_train_final : 44
데이터 수 : 1250
start : 2021-06-24 01:45:33
end   : 2021-06-25 22:04:43

ulsan_anch_train_final : 45
데이터 수 : 1581
start : 2021-06-24 9:39
end   : 2021-06-24 14:17

ulsan_anch_train_final : 46
데이터 수 : 245
start : 2021-06-29 20:45:11
end   : 2021-06-30 09:15:43

ulsan_anch_train_final : 47
데이터 수 : 129
start : 2021-06-08 18:17:42
end   : 2021-06-08 22:50:51

ulsan_anch_train_final : 48
데이터 수 : 11083
start : 2021-05-11 22:53:07
end   : 2021-05-12 11:50:55

ulsan_anch_train_final : 49
데이터 수 : 132
start : 2021-05-27 00:17:06
end   : 2021-05-27 03:41:03

ulsan_anch_train_final : 50
데이터 수 : 148
start : 2021-06-08 05:17:14
end   : 2021-06-08 12:16:09

ulsan_anch_train_final : 51
데이터 수 : 447
start : 2021-07-15 14:42:03
end   : 2021-07-16 12:17:05

ulsan_anch_train_final : 52
데이터 수 : 324
start : 2021-07-15 18:50:02
end   : 2021-07-16 12:30:39

ulsan_anch_train_final : 53
데이터 수 : 280
start : 2021-07-15 21:11:11
end   : 2021-07-16 11:35:57

ulsan_anch_train_final : 54
데이터 수 : 4633
start : 2021-07-16 04:21:58
end   : 2021-07-16 19:15:56

ulsan_anch_train_final : 55
데이터 수 : 405
start : 2021-07-17 18:51:27
end   : 2021-07-18 17:42:18

ulsan_anch_train_final : 56
데이터 수 : 426
start : 2021-07-17 19:20:06
end   : 2021-07-18 17:44:05

ulsan_anch_train_final : 57
데이터 수 : 480
start : 2021-07-18 00:54:04
end   : 2021-07-19 01:28:29

ulsan_anch_train_final : 58
데이터 수 : 117
start : 2021-07-18 13:21:35
end   : 2021-07-18 19:30:33

ulsan_anch_train_final : 59
데이터 수 : 94
start : 2021-07-18 14:42:45
end   : 2021-07-18 19:30:45

ulsan_anch_train_final : 60
데이터 수 : 534
start : 2021-07-18 21:26:47
end   : 2021-07-19 18:59:27

ulsan_anch_train_final : 61
데이터 수 : 533
start : 2021-07-19 08:33:01
end   : 2021-07-20 12:01:10

ulsan_anch_train_final : 62
데이터 수 : 295
start : 2021-07-19 09:05:09
end   : 2021-07-19 23:49:49

ulsan_anch_train_final : 63
데이터 수 : 175
start : 2021-07-20 00:09:46
end   : 2021-07-20 09:01:16

ulsan_anch_train_final : 64
데이터 수 : 614
start : 2021-07-20 15:26:37
end   : 2021-07-21 21:05:50

ulsan_anch_train_final : 65
데이터 수 : 199
start : 2021-07-20 21:29:33
end   : 2021-07-21 07:44:39

ulsan_anch_train_final : 66
데이터 수 : 468
start : 2021-07-21 07:20:06
end   : 2021-07-22 07:22:58

ulsan_anch_train_final : 67
데이터 수 : 5488
start : 2021-07-21 15:55:05
end   : 2021-07-22 14:05:21

ulsan_anch_train_final : 68
데이터 수 : 384
start : 2021-07-21 18:45:08
end   : 2021-07-22 12:31:56

ulsan_anch_train_final : 69
데이터 수 : 498
start : 2021-07-22 13:28:52
end   : 2021-07-23 13:22:59

ulsan_anch_train_final : 70
데이터 수 : 294
start : 2021-07-22 16:31:42
end   : 2021-07-23 08:48:29

ulsan_anch_train_final : 71
데이터 수 : 270
start : 2021-07-24 03:55:39
end   : 2021-07-24 15:54:26

ulsan_anch_train_final : 72
데이터 수 : 667
start : 2021-07-24 07:38:57
end   : 2021-07-25 16:42:58

ulsan_anch_train_final : 73
데이터 수 : 643
start : 2021-07-24 09:42:01
end   : 2021-07-25 16:44:27

ulsan_anch_train_final : 74
데이터 수 : 484
start : 2021-07-24 15:07:25
end   : 2021-07-25 15:07:19

ulsan_anch_train_final : 75
데이터 수 : 1100
start : 2021-07-24 15:07:30
end   : 2021-07-25 15:07:29

ulsan_anch_train_final : 76
데이터 수 : 228
start : 2021-07-26 08:38:09
end   : 2021-07-26 19:37:05

ulsan_anch_train_final : 77
데이터 수 : 284
start : 2021-07-26 19:34:30
end   : 2021-07-27 10:21:40

ulsan_anch_train_final : 78
데이터 수 : 281
start : 2021-07-26 23:09:03
end   : 2021-07-27 11:03:03

ulsan_anch_train_final : 79
데이터 수 : 203
start : 2021-07-26 23:53:52
end   : 2021-07-27 09:56:52

ulsan_anch_train_final : 80
데이터 수 : 223
start : 2021-07-27 19:12:49
end   : 2021-07-28 06:30:54

ulsan_anch_train_final : 81
데이터 수 : 329
start : 2021-07-28 04:26:19
end   : 2021-07-28 21:14:53

ulsan_anch_train_final : 82
데이터 수 : 15894
start : 2021-09-02 01:20:49
end   : 2021-09-02 12:24:59

ulsan_anch_train_final : 83
데이터 수 : 1835
start : 2021-09-03 00:30:00
end   : 2021-09-03 01:31:59

ulsan_anch_train_final : 84
데이터 수 : 66
start : 2021-09-04 16:59:34
end   : 2021-09-04 20:17:32

ulsan_anch_train_final : 85
데이터 수 : 526
start : 2021-09-05 01:36:20
end   : 2021-09-06 04:51:22

ulsan_anch_train_final : 86
데이터 수 : 221
start : 2021-09-06 17:53:07
end   : 2021-09-07 04:53:07

ulsan_anch_train_final : 87
데이터 수 : 5424
start : 2021-09-07 01:52:43
end   : 2021-09-07 16:19:00

ulsan_anch_train_final : 88
데이터 수 : 127
start : 2021-09-10 16:31:40
end   : 2021-09-10 23:30:31

ulsan_anch_train_final : 89
데이터 수 : 232
start : 2021-12-10 01:16:43
end   : 2021-12-10 13:13:44

ulsan_anch_train_final : 90
데이터 수 : 308
start : 2021-12-10 21:12:07
end   : 2021-12-11 12:13:23

ulsan_anch_train_final : 91
데이터 수 : 575
start : 2021-12-11 07:48:00
end   : 2021-12-12 12:39:09

ulsan_anch_train_final : 92
데이터 수 : 484
start : 2021-12-12 02:20:08
end   : 2021-12-13 02:19:18

ulsan_anch_train_final : 93
데이터 수 : 8338
start : 2021-12-12 07:50:03
end   : 2021-12-13 06:31:55

ulsan_anch_train_final : 94
데이터 수 : 473
start : 2021-12-12 17:49:41
end   : 2021-12-13 17:43:47

ulsan_anch_train_final : 95
데이터 수 : 631
start : 2021-12-14 09:21:00
end   : 2021-12-15 09:18:45

ulsan_anch_train_final : 96
데이터 수 : 278
start : 2021-12-14 12:26:09
end   : 2021-12-15 09:14:23

ulsan_anch_train_final : 97
데이터 수 : 342
start : 2021-12-14 17:48:01
end   : 2021-12-15 09:17:16

ulsan_anch_train_final : 98
데이터 수 : 2158
start : 2021-12-15 02:19:32
end   : 2021-12-16 03:22:47

ulsan_anch_train_final : 99
데이터 수 : 225
start : 2021-12-15 15:30:03
end   : 2021-12-16 03:22:32

ulsan_anch_train_final : 100
데이터 수 : 8693
start : 2021-12-19 01:40:02
end   : 2021-12-20 01:50:33

ulsan_anch_train_final : 101
데이터 수 : 392
start : 2021-12-19 04:24:50
end   : 2021-12-20 03:06:50

ulsan_anch_train_final : 102
데이터 수 : 403
start : 2021-12-19 08:10:22
end   : 2021-12-20 08:07:19

ulsan_anch_train_final : 103
데이터 수 : 512
start : 2021-12-19 10:57:40
end   : 2021-12-20 10:54:55

ulsan_anch_train_final : 104
데이터 수 : 466
start : 2021-12-19 12:00:04
end   : 2021-12-20 11:55:57

ulsan_anch_train_final : 105
데이터 수 : 477
start : 2021-12-20 20:00:05
end   : 2021-12-21 19:57:05

ulsan_anch_train_final : 106
데이터 수 : 8349
start : 2021-12-22 03:30:12
end   : 2021-12-23 03:32:53

ulsan_anch_train_final : 107
데이터 수 : 265
start : 2021-12-27 16:30:00
end   : 2021-12-28 05:54:08

ulsan_anch_train_final : 108
데이터 수 : 661
start : 2022-02-01 07:57:02
end   : 2022-02-02 13:03:39

ulsan_anch_train_final : 109
데이터 수 : 535
start : 2022-02-01 11:02:52
end   : 2022-02-02 13:01:35

ulsan_anch_train_final : 110
데이터 수 : 3081
start : 2022-02-01 14:26:44
end   : 2022-02-01 23:01:55

ulsan_anch_train_final : 111
데이터 수 : 646
start : 2022-02-01 14:34:14
end   : 2022-02-02 23:01:21

ulsan_anch_train_final : 112
데이터 수 : 633
start : 2022-02-01 15:23:23
end   : 2022-02-02 15:17:01

ulsan_anch_train_final : 113
데이터 수 : 189
start : 2022-02-02 08:46:55
end   : 2022-02-02 17:53:26

ulsan_anch_train_final : 114
데이터 수 : 753
start : 2022-02-02 09:49:07
end   : 2022-02-03 21:47:43

ulsan_anch_train_final : 115
데이터 수 : 492
start : 2022-02-02 17:38:02
end   : 2022-02-03 17:33:53

ulsan_anch_train_final : 116
데이터 수 : 482
start : 2022-02-02 19:34:13
end   : 2022-02-03 17:34:58

ulsan_anch_train_final : 117
데이터 수 : 677
start : 2022-02-03 07:00:08
end   : 2022-02-04 17:35:27

ulsan_anch_train_final : 118
데이터 수 : 445
start : 2022-02-03 10:35:23
end   : 2022-02-04 17:35:32

ulsan_anch_train_final : 119
데이터 수 : 774
start : 2022-02-04 08:22:53
end   : 2022-02-05 20:19:31

ulsan_anch_train_final : 120
데이터 수 : 307
start : 2022-02-04 10:25
end   : 2022-02-05 0:14

ulsan_anch_train_final : 121
데이터 수 : 374
start : 2022-02-04 12:29:37
end   : 2022-02-05 07:47:37

ulsan_anch_train_final : 122
데이터 수 : 5842
start : 2022-02-04 14:25:38
end   : 2022-02-05 07:00:51

ulsan_anch_train_final : 123
데이터 수 : 311
start : 2022-02-05 07:09:29
end   : 2022-02-05 20:22:53

ulsan_anch_train_final : 124
데이터 수 : 536
start : 2022-02-05 12:18:56
end   : 2022-02-06 12:15:19

ulsan_anch_train_final : 125
데이터 수 : 522
start : 2022-02-05 12:46:50
end   : 2022-02-06 12:41:31

ulsan_anch_train_final : 126
데이터 수 : 208
start : 2022-02-05 15:46:53
end   : 2022-02-05 23:15:00

ulsan_anch_train_final : 127
데이터 수 : 527
start : 2022-02-05 16:55:09
end   : 2022-02-06 23:13:00

## ulsan_drag_train_final - 닻끌림

In [14]:
ulsan_drag_train_final = pd.read_csv("../기상청공모전/data/ulsan_drag_train_final.csv",encoding = "utf-8")
ulsan_drag_train_final

,Unnamed: 0,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg
0,1,1,2021-02-14 14:37:11,N35.433233,E129.45896,0.2,60.0,204
1,2,1,2021-02-14 14:37:21,N35.433233,E129.45898,0.2,53.0,204
2,3,1,2021-02-14 14:37:33,N35.433250,E129.45900,0.2,45.0,203
3,4,1,2021-02-14 14:37:42,N35.433250,E129.45900,0.2,44.0,203
4,5,1,2021-02-14 14:37:52,N35.433267,E129.45901,0.2,41.0,203
...,...,...,...,...,...,...,...,...
218607,218608,163,2022-06-24 6:44,N35.443755,E129.41491,1.1,186.0,195
218608,218609,163,2022-06-24 6:44,N35.443685,E129.41490,1.4,187.5,195
218609,218610,163,2022-06-24 6:44,N35.443608,E129.41488,1.6,193.8,195
218610,218611,163,2022-06-24 6:44,N35.443515,E129.41487,1.8,188.1,195
218611,218612,163,2022-06-24 6:44,N35.443428,E129.41484,2.0,193.2,195

In [15]:
ship_num = ulsan_drag_train_final.iloc[:,1].unique()
ship_num

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163], dtype=int64)

In [16]:
len(ship_num)

163

In [17]:
for i in ship_num:
    x = ulsan_drag_train_final[ulsan_drag_train_final.iloc[:,1] == i]
    print(f'ulsan_drag_train_final : {i}')
    print(f'데이터 수 : {len(x)}')
    print(f'start : {x.iloc[0,2]}')
    print(f'end   : {x.iloc[-1,2]}')
    print('')

ulsan_drag_train_final : 1
데이터 수 : 592
start : 2021-02-14 14:37:11
end   : 2021-02-15 19:29:40

ulsan_drag_train_final : 2
데이터 수 : 376
start : 2021-02-20 22:03:56
end   : 2021-02-21 15:09:55

ulsan_drag_train_final : 3
데이터 수 : 5176
start : 2021-02-20 20:32:07
end   : 2021-02-21 21:58:20

ulsan_drag_train_final : 4
데이터 수 : 163
start : 2021-02-26 04:14:17
end   : 2021-02-26 10:59:48

ulsan_drag_train_final : 5
데이터 수 : 593
start : 2021-02-25 13:04:06
end   : 2021-02-26 14:59:17

ulsan_drag_train_final : 6
데이터 수 : 358
start : 2021-02-26 05:59:00
end   : 2021-02-26 19:37:50

ulsan_drag_train_final : 7
데이터 수 : 1051
start : 2021-02-24 20:24:05
end   : 2021-02-27 01:35:57

ulsan_drag_train_final : 8
데이터 수 : 267
start : 2021-02-26 13:17:45
end   : 2021-02-27 01:30:00

ulsan_drag_train_final : 9
데이터 수 : 546
start : 2021-02-25 23:39:07
end   : 2021-02-27 02:08:49

ulsan_drag_train_final : 10
데이터 수 : 964
start : 2021-02-25 06:06:46
end   : 2021-02-27 02:41:58

ulsan_drag_train_final : 11
데이터 수 : 9864
start : 2021-02-23 14:43:32
end   : 2021-02-27 02:46:53

ulsan_drag_train_final : 12
데이터 수 : 881
start : 2021-02-25 17:12:46
end   : 2021-02-27 05:17:57

ulsan_drag_train_final : 13
데이터 수 : 1295
start : 2021-02-24 09:08:31
end   : 2021-02-27 07:52:51

ulsan_drag_train_final : 14
데이터 수 : 406
start : 2021-02-28 20:50:20
end   : 2021-03-01 18:28:55

ulsan_drag_train_final : 15
데이터 수 : 540
start : 2021-02-28 19:18:47
end   : 2021-03-01 18:56:39

ulsan_drag_train_final : 16
데이터 수 : 727
start : 2021-02-28 11:22:03
end   : 2021-03-01 19:23:30

ulsan_drag_train_final : 17
데이터 수 : 528
start : 2021-02-28 15:43:47
end   : 2021-03-01 19:08:42

ulsan_drag_train_final : 18
데이터 수 : 407
start : 2021-03-01 00:01:27
end   : 2021-03-01 19:55:09

ulsan_drag_train_final : 19
데이터 수 : 241
start : 2021-03-01 07:16:01
end   : 2021-03-01 19:42:59

ulsan_drag_train_final : 20
데이터 수 : 2147
start : 2021-02-28 15:45:11
end   : 2021-03-01 19:34:00

ulsan_drag_train_final : 21
데이터 수 : 428
start : 2021-02-28 22:02:57
end   : 2021-03-01 20:03:06

ulsan_drag_train_final : 22
데이터 수 : 202
start : 2021-03-01 11:12:52
end   : 2021-03-01 19:53:24

ulsan_drag_train_final : 23
데이터 수 : 1671
start : 2021-02-28 14:12:03
end   : 2021-03-01 20:11:52

ulsan_drag_train_final : 24
데이터 수 : 682
start : 2021-02-28 15:38
end   : 2021-03-02 2:04

ulsan_drag_train_final : 25
데이터 수 : 427
start : 2021-03-05 13:43:52
end   : 2021-03-06 08:37:33

ulsan_drag_train_final : 26
데이터 수 : 396
start : 2021-03-05 13:18:15
end   : 2021-03-06 08:50:06

ulsan_drag_train_final : 27
데이터 수 : 409
start : 2021-03-05 15:11:08
end   : 2021-03-06 12:08:25

ulsan_drag_train_final : 28
데이터 수 : 411
start : 2021-03-05 19:02
end   : 2021-03-06 15:41

ulsan_drag_train_final : 29
데이터 수 : 890
start : 2021-03-04 19:05
end   : 2021-03-06 16:10

ulsan_drag_train_final : 30
데이터 수 : 320
start : 2021-03-08 6:44
end   : 2021-03-08 23:17

ulsan_drag_train_final : 31
데이터 수 : 1090
start : 2021-03-10 19:23
end   : 2021-03-13 2:38

ulsan_drag_train_final : 32
데이터 수 : 1227
start : 2021-03-26 18:27
end   : 2021-03-28 3:32

ulsan_drag_train_final : 33
데이터 수 : 987
start : 2021-03-26 1:08
end   : 2021-03-28 3:59

ulsan_drag_train_final : 34
데이터 수 : 789
start : 2021-03-27 17:35
end   : 2021-03-29 3:41

ulsan_drag_train_final : 35
데이터 수 : 765
start : 2021-03-26 13:09
end   : 2021-03-28 4:09

ulsan_drag_train_final : 36
데이터 수 : 1343
start : 2021-04-01 12:06
end   : 2021-04-04 7:03

ulsan_drag_train_final : 37
데이터 수 : 392
start : 2021-04-03 10:58
end   : 2021-04-04 7:00

ulsan_drag_train_final : 38
데이터 수 : 24580
start : 2021-04-01 11:32
end   : 2021-04-04 6:45

ulsan_drag_train_final : 39
데이터 수 : 1384
start : 2021-04-01 11:32
end   : 2021-04-04 8:07

ulsan_drag_train_final : 40
데이터 수 : 1896
start : 2021-04-03 10:51
end   : 2021-04-04 14:50

ulsan_drag_train_final : 41
데이터 수 : 980
start : 2021-04-02 16:36
end   : 2021-04-04 18:37

ulsan_drag_train_final : 42
데이터 수 : 481
start : 2021-04-03 19:12
end   : 2021-04-04 18:41

ulsan_drag_train_final : 43
데이터 수 : 949
start : 2021-04-07 19:32
end   : 2021-04-09 17:16

ulsan_drag_train_final : 44
데이터 수 : 581
start : 2021-04-08 13:11
end   : 2021-04-09 17:15

ulsan_drag_train_final : 45
데이터 수 : 1543
start : 2021-04-09 13:12
end   : 2021-04-12 21:49

ulsan_drag_train_final : 46
데이터 수 : 493
start : 2021-04-11 22:53
end   : 2021-04-12 22:02

ulsan_drag_train_final : 47
데이터 수 : 1417
start : 2021-04-09 22:53
end   : 2021-04-12 23:27

ulsan_drag_train_final : 48
데이터 수 : 192
start : 2021-04-12 14:53
end   : 2021-04-12 23:25

ulsan_drag_train_final : 49
데이터 수 : 894
start : 2021-04-22 16:32
end   : 2021-04-24 13:59

ulsan_drag_train_final : 50
데이터 수 : 1192
start : 2021-04-21 9:41
end   : 2021-04-23 19:30

ulsan_drag_train_final : 51
데이터 수 : 14410
start : 2021-05-02 7:41
end   : 2021-05-04 1:59

ulsan_drag_train_final : 52
데이터 수 : 571
start : 2021-05-03 20:39
end   : 2021-05-05 2:45

ulsan_drag_train_final : 53
데이터 수 : 2034
start : 2021-04-30 19:58
end   : 2021-05-05 2:56

ulsan_drag_train_final : 54
데이터 수 : 450
start : 2021-05-04 3:47
end   : 2021-05-05 2:09

ulsan_drag_train_final : 55
데이터 수 : 791
start : 2021-05-03 8:11
end   : 2021-05-05 2:17

ulsan_drag_train_final : 56
데이터 수 : 1186
start : 2021-05-02 11:51
end   : 2021-05-05 2:52

ulsan_drag_train_final : 57
데이터 수 : 216
start : 2021-05-08 5:06
end   : 2021-05-08 16:27

ulsan_drag_train_final : 58
데이터 수 : 212
start : 2021-07-03 16:03
end   : 2021-07-04 2:13

ulsan_drag_train_final : 59
데이터 수 : 600
start : 2021-07-02 19:55
end   : 2021-07-04 2:15

ulsan_drag_train_final : 60
데이터 수 : 855
start : 2021-07-02 21:50
end   : 2021-07-04 2:44

ulsan_drag_train_final : 61
데이터 수 : 1066
start : 2021-07-01 19:55
end   : 2021-07-04 3:18

ulsan_drag_train_final : 62
데이터 수 : 234
start : 2021-07-03 17:51
end   : 2021-07-04 4:53

ulsan_drag_train_final : 63
데이터 수 : 531
start : 2021-07-03 1:36
end   : 2021-07-04 4:59

ulsan_drag_train_final : 64
데이터 수 : 272
start : 2021-07-03 16:28
end   : 2021-07-04 5:24

ulsan_drag_train_final : 65
데이터 수 : 1290
start : 2021-07-01 17:43
end   : 2021-07-04 6:11

ulsan_drag_train_final : 66
데이터 수 : 508
start : 2021-07-02 22:22
end   : 2021-07-04 5:38

ulsan_drag_train_final : 67
데이터 수 : 15171
start : 2021-07-02 10:38
end   : 2021-07-04 5:36

ulsan_drag_train_final : 68
데이터 수 : 663
start : 2021-07-02 20:25
end   : 2021-07-04 5:52

ulsan_drag_train_final : 69
데이터 수 : 3450
start : 2021-07-03 19:00
end   : 2021-07-04 5:37

ulsan_drag_train_final : 70
데이터 수 : 823
start : 2021-08-07 22:12
end   : 2021-08-09 14:59

ulsan_drag_train_final : 71
데이터 수 : 504
start : 2021-08-08 15:21
end   : 2021-08-09 15:29

ulsan_drag_train_final : 72
데이터 수 : 989
start : 2021-08-15 14:12
end   : 2021-08-17 15:05

ulsan_drag_train_final : 73
데이터 수 : 1442
start : 2021-08-14 14:13
end   : 2021-08-17 15:00

ulsan_drag_train_final : 74
데이터 수 : 674
start : 2021-08-16 4:52
end   : 2021-08-17 15:21

ulsan_drag_train_final : 75
데이터 수 : 363
start : 2021-08-20 17:08
end   : 2021-08-21 10:32

ulsan_drag_train_final : 76
데이터 수 : 1690
start : 2021-08-19 17:31
end   : 2021-08-21 10:48

ulsan_drag_train_final : 77
데이터 수 : 711
start : 2021-08-20 0:04
end   : 2021-08-21 11:12

ulsan_drag_train_final : 78
데이터 수 : 897
start : 2021-08-19 15:57
end   : 2021-08-21 11:07

ulsan_drag_train_final : 79
데이터 수 : 432
start : 2021-08-20 12:25
end   : 2021-08-21 6:12

ulsan_drag_train_final : 80
데이터 수 : 194
start : 2021-08-21 5:28
end   : 2021-08-21 15:45

ulsan_drag_train_final : 81
데이터 수 : 1571
start : 2021-08-20 10:46
end   : 2021-08-21 18:04

ulsan_drag_train_final : 82
데이터 수 : 424
start : 2021-08-20 22:45
end   : 2021-08-21 19:19

ulsan_drag_train_final : 83
데이터 수 : 554
start : 2021-08-20 12:21
end   : 2021-08-21 15:52

ulsan_drag_train_final : 84
데이터 수 : 1485
start : 2021-08-18 12:23
end   : 2021-08-21 15:57

ulsan_drag_train_final : 85
데이터 수 : 589
start : 2021-08-20 17:31
end   : 2021-08-21 16:46

ulsan_drag_train_final : 86
데이터 수 : 604
start : 2021-08-20 11:37
end   : 2021-08-21 17:56

ulsan_drag_train_final : 87
데이터 수 : 281
start : 2021-08-20 18:10
end   : 2021-08-21 10:14

ulsan_drag_train_final : 88
데이터 수 : 1595
start : 2021-08-17 18:12
end   : 2021-08-21 12:21

ulsan_drag_train_final : 89
데이터 수 : 498
start : 2021-08-20 16:20
end   : 2021-08-21 16:08

ulsan_drag_train_final : 90
데이터 수 : 650
start : 2021-08-20 8:55
end   : 2021-08-21 16:14

ulsan_drag_train_final : 91
데이터 수 : 591
start : 2021-10-10 14:38
end   : 2021-10-11 23:38

ulsan_drag_train_final : 92
데이터 수 : 1723
start : 2021-10-08 0:39
end   : 2021-10-12 0:01

ulsan_drag_train_final : 93
데이터 수 : 1261
start : 2021-10-09 7:58
end   : 2021-10-12 2:13

ulsan_drag_train_final : 94
데이터 수 : 1295
start : 2021-10-09 7:59
end   : 2021-10-12 6:32

ulsan_drag_train_final : 95
데이터 수 : 922
start : 2021-10-10 11:07
end   : 2021-10-12 10:45

ulsan_drag_train_final : 96
데이터 수 : 72
start : 2021-10-22 19:02
end   : 2021-10-22 22:09

ulsan_drag_train_final : 97
데이터 수 : 1554
start : 2021-11-26 21:54
end   : 2021-11-30 10:16

ulsan_drag_train_final : 98
데이터 수 : 3627
start : 2021-11-28 12:32
end   : 2021-11-30 13:19

ulsan_drag_train_final : 99
데이터 수 : 718
start : 2021-11-28 22:05
end   : 2021-11-30 14:07

ulsan_drag_train_final : 100
데이터 수 : 1451
start : 2021-11-27 10:06
end   : 2021-11-30 13:27

ulsan_drag_train_final : 101
데이터 수 : 1429
start : 2021-11-27 10:07
end   : 2021-11-30 13:56

ulsan_drag_train_final : 102
데이터 수 : 5894
start : 2021-11-28 9:16
end   : 2021-11-30 14:03

ulsan_drag_train_final : 103
데이터 수 : 1567
start : 2021-11-27 9:17
end   : 2021-11-30 13:49

ulsan_drag_train_final : 104
데이터 수 : 621
start : 2021-11-29 8:37
end   : 2021-11-30 13:57

ulsan_drag_train_final : 105
데이터 수 : 1476
start : 2021-11-27 8:38
end   : 2021-11-30 14:12

ulsan_drag_train_final : 106
데이터 수 : 1255
start : 2021-11-27 20:39:00
end   : 2021-11-30 14:26:00

ulsan_drag_train_final : 107
데이터 수 : 1591
start : 2021-12-04 4:37
end   : 2021-12-07 15:55

ulsan_drag_train_final : 108
데이터 수 : 5215
start : 2022-01-15 1:20
end   : 2022-01-16 1:37

ulsan_drag_train_final : 109
데이터 수 : 501
start : 2022-01-15 1:52
end   : 2022-01-16 3:19

ulsan_drag_train_final : 110
데이터 수 : 1772
start : 2022-01-13 2:31
end   : 2022-01-16 3:02

ulsan_drag_train_final : 111
데이터 수 : 202
start : 2022-01-15 14:30
end   : 2022-01-16 2:57

ulsan_drag_train_final : 112
데이터 수 : 800
start : 2022-01-17 23:41
end   : 2022-01-19 15:58

ulsan_drag_train_final : 113
데이터 수 : 477
start : 2022-01-22 22:00
end   : 2022-01-23 21:19

ulsan_drag_train_final : 114
데이터 수 : 425
start : 2022-01-23 1:33
end   : 2022-01-24 0:39

ulsan_drag_train_final : 115
데이터 수 : 453
start : 2022-01-23 5:33
end   : 2022-01-24 4:15

ulsan_drag_train_final : 116
데이터 수 : 239
start : 2022-01-23 17:49
end   : 2022-01-24 5:13

ulsan_drag_train_final : 117
데이터 수 : 713
start : 2022-01-22 17:50
end   : 2022-01-24 5:00

ulsan_drag_train_final : 118
데이터 수 : 683
start : 2022-01-22 18:33
end   : 2022-01-24 5:18

ulsan_drag_train_final : 119
데이터 수 : 1111
start : 2022-01-21 18:35
end   : 2022-01-24 5:28

ulsan_drag_train_final : 120
데이터 수 : 1106
start : 2022-01-21 18:33
end   : 2022-01-24 5:57

ulsan_drag_train_final : 121
데이터 수 : 1158
start : 2022-01-21 18:33
end   : 2022-01-24 6:36

ulsan_drag_train_final : 122
데이터 수 : 700
start : 2022-01-22 18:35
end   : 2022-01-24 6:12

ulsan_drag_train_final : 123
데이터 수 : 391
start : 2022-01-23 12:23
end   : 2022-01-24 6:47

ulsan_drag_train_final : 124
데이터 수 : 1293
start : 2022-01-21 12:25
end   : 2022-01-24 7:09

ulsan_drag_train_final : 125
데이터 수 : 2243
start : 2022-02-12 10:54
end   : 2022-02-13 14:37

ulsan_drag_train_final : 126
데이터 수 : 470
start : 2022-02-19 10:54
end   : 2022-02-20 11:32

ulsan_drag_train_final : 127
데이터 수 : 1134
start : 2022-03-01 11:28
end   : 2022-03-04 15:06

ulsan_drag_train_final : 128
데이터 수 : 500
start : 2022-03-03 17:09:10
end   : 2022-03-04 17:41:31

ulsan_drag_train_final : 129
데이터 수 : 315
start : 2022-03-04 2:40
end   : 2022-03-04 17:49

ulsan_drag_train_final : 130
데이터 수 : 195
start : 2022-03-17 17:09:56
end   : 2022-03-18 03:19:03

ulsan_drag_train_final : 131
데이터 수 : 1004
start : 2022-03-16 2:26
end   : 2022-03-18 4:05

ulsan_drag_train_final : 132
데이터 수 : 330
start : 2022-03-17 11:17
end   : 2022-03-18 4:13

ulsan_drag_train_final : 133
데이터 수 : 393
start : 2022-03-17 11:03
end   : 2022-03-18 6:45

ulsan_drag_train_final : 134
데이터 수 : 997
start : 2022-03-16 11:03
end   : 2022-03-18 6:33

ulsan_drag_train_final : 135
데이터 수 : 782
start : 2022-03-24 16:53
end   : 2022-03-26 7:28

ulsan_drag_train_final : 136
데이터 수 : 862
start : 2022-03-24 16:54
end   : 2022-03-26 8:00

ulsan_drag_train_final : 137
데이터 수 : 776
start : 2022-03-24 16:54
end   : 2022-03-26 7:33

ulsan_drag_train_final : 138
데이터 수 : 1754
start : 2022-03-22 16:53
end   : 2022-03-26 7:50

ulsan_drag_train_final : 139
데이터 수 : 893
start : 2022-03-24 9:30
end   : 2022-03-26 7:58

ulsan_drag_train_final : 140
데이터 수 : 1096
start : 2022-03-23 17:35
end   : 2022-03-26 7:35

ulsan_drag_train_final : 141
데이터 수 : 915
start : 2022-03-23 19:47
end   : 2022-03-26 7:59

ulsan_drag_train_final : 142
데이터 수 : 809
start : 2022-03-24 12:45

end   : 2022-03-26 8:00

ulsan_drag_train_final : 143
데이터 수 : 1025
start : 2022-04-11 17:28
end   : 2022-04-13 10:59

ulsan_drag_train_final : 144
데이터 수 : 567
start : 2022-04-12 0:34
end   : 2022-04-13 11:35

ulsan_drag_train_final : 145
데이터 수 : 934
start : 2022-04-12 0:34
end   : 2022-04-13 12:00

ulsan_drag_train_final : 146
데이터 수 : 732
start : 2022-04-12 0:37
end   : 2022-04-13 14:11

ulsan_drag_train_final : 147
데이터 수 : 378
start : 2022-04-12 19:00
end   : 2022-04-13 13:49

ulsan_drag_train_final : 148
데이터 수 : 663
start : 2022-04-12 19:02
end   : 2022-04-14 5:43

ulsan_drag_train_final : 149
데이터 수 : 1214
start : 2022-04-26 17:11
end   : 2022-04-29 7:04

ulsan_drag_train_final : 150
데이터 수 : 1254
start : 2022-04-26 17:51
end   : 2022-04-29 7:19

ulsan_drag_train_final : 151
데이터 수 : 493
start : 2022-04-28 14:49
end   : 2022-04-29 13:55

ulsan_drag_train_final : 152
데이터 수 : 767
start : 2022-04-27 22:12
end   : 2022-04-29 14:00

ulsan_drag_train_final : 153
데이터 수 : 472
start : 2022-04-28 14:49
end   : 2022-04-29 14:55

ulsan_drag_train_final : 154
데이터 수 : 1000
start : 2022-05-05 14:51
end   : 2022-05-07 17:11

ulsan_drag_train_final : 155
데이터 수 : 1229
start : 2022-05-06 14:35
end   : 2022-05-07 17:00

ulsan_drag_train_final : 156
데이터 수 : 1228
start : 2022-05-16 7:59
end   : 2022-05-18 18:59

ulsan_drag_train_final : 157
데이터 수 : 666
start : 2022-06-05 13:42
end   : 2022-06-06 22:10

ulsan_drag_train_final : 158
데이터 수 : 1457
start : 2022-06-20 20:42
end   : 2022-06-23 18:20

ulsan_drag_train_final : 159
데이터 수 : 1247
start : 2022-06-20 20:48:22
end   : 2022-06-24 05:24:21

ulsan_drag_train_final : 160
데이터 수 : 1617
start : 2022-06-20 20:44:10
end   : 2022-06-24 05:59:12

ulsan_drag_train_final : 161
데이터 수 : 1675
start : 2022-06-20 20:42
end   : 2022-06-24 6:10

ulsan_drag_train_final : 162
데이터 수 : 917
start : 2022-06-21 20:49:53
end   : 2022-06-24 05:36:42

ulsan_drag_train_final : 163
데이터 수 : 1710
start : 2022-06-20 17:00
end   : 2022-06-24 6:44

## busan_answer - 닻끌림 정답

In [18]:
busan_answer = pd.read_csv("../기상청공모전/data/busan_answer.csv",encoding = "utf-8")
busan_answer

,Unnamed: 0,busan_answer.area,busan_answer.tear,busan_answer.num,busan_answer.mon,busan_answer.day,busan_answer.hour,busan_answer.min,busan_answer.lat,busan_answer.lon
0,1,BUSAN,2021,1,1,17,2,4,N35.045368,E129.07101
1,2,BUSAN,2021,2,1,17,4,16,N35.017088,E129.05879
2,3,BUSAN,2021,3,1,17,4,56,N35.005498,E129.06747
3,4,BUSAN,2021,4,1,23,14,3,N35.016828,E129.04048
4,5,BUSAN,2021,5,1,23,15,18,N35.034230,E129.06190
...,...,...,...,...,...,...,...,...,...,...
82,83,BUSAN,2022,83,4,13,2,17,N35.051660,E129.04283
83,84,BUSAN,2022,84,4,22,13,53,N35.076538,E129.03624
84,85,BUSAN,2022,85,4,28,22,35,N35.052402,E129.04419
85,86,BUSAN,2022,86,5,7,19,53,N35.055955,E129.05468
86,87,BUSAN,2022,87,5,7,20,21,N35.052700,E129.06080

## ulsan_answer - 닻끌림 정답

In [19]:
ulsan_answer = pd.read_csv("../기상청공모전/data/ulsan_answer.csv",encoding = "utf-8")
ulsan_answer

,Unnamed: 0,ulsan_answer.area,ulsan_answer.tear,ulsan_answer.num,ulsan_answer.mon,ulsan_answer.day,ulsan_answer.hour,ulsan_answer.min,ulsan_answer.lat,ulsan_answer.lon
0,1,ULSAN,2021,1,2,15,18,41,N35.431217,E129.46316
1,2,ULSAN,2021,2,2,21,14,56,N35.453320,E129.46086
2,3,ULSAN,2021,3,2,21,21,58,N35.450960,E129.45168
3,4,ULSAN,2021,4,2,26,10,5,N35.464458,E129.43729
4,5,ULSAN,2021,5,2,26,13,59,N35.427322,E129.43845
...,...,...,...,...,...,...,...,...,...,...
158,159,ULSAN,2022,159,6,24,5,0,N35.402315,E129.44558
159,160,ULSAN,2022,160,6,24,5,2,N35.457910,E129.42316
160,161,ULSAN,2022,161,6,24,5,48,N35.449315,E129.43818
161,162,ULSAN,2022,162,6,24,5,26,N35.400015,E129.46461
162,163,ULSAN,2022,163,6,24,6,33,N35.444952,E129.41523

## KHNP_Buoy_train - 한수원 파고부이

In [20]:
khnp_buoy_train = pd.read_csv("../기상청공모전/data/khnp_buoy_train.csv",encoding = "utf-8")
khnp_buoy_train

,Unnamed: 0,khnp_buoy_train.yyyymmddhhmi,khnp_buoy_train.stn_name,khnp_buoy_train.ws,khnp_buoy_train.wd
0,1,202101010000,Gori,37.0,84
1,2,202101010001,Gori,27.8,88
2,3,202101010002,Gori,39.3,84
3,4,202101010003,Gori,26.5,86
4,5,202101010004,Gori,36.6,85
...,...,...,...,...,...
786235,786236,202206302355,Gori,56.8,47
786236,786237,202206302356,Gori,60.9,53
786237,786238,202206302357,Gori,59.0,42
786238,786239,202206302358,Gori,65.2,47
786239,786240,202206302359,Gori,67.5,48

In [21]:
khnp_buoy_train.iloc[:,2].unique()

array(['Gori'], dtype=object)

In [22]:
time = khnp_buoy_train.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202101010000
최후시간 : 202206302359

## KHNP_Buoy_test - 한수원 파고부이

In [23]:
khnp_buoy_test = pd.read_csv("../기상청공모전/data/khnp_buoy_test.csv",encoding = "utf-8")
khnp_buoy_test

,Unnamed: 0,khnp_buoy_test.yyyymmddhhmi,khnp_buoy_test.stn_name,khnp_buoy_test.ws,khnp_buoy_test.wd
0,1,202207010000,Gori,59.7,40
1,2,202207010001,Gori,67.4,48
2,3,202207010002,Gori,61.5,60
3,4,202207010003,Gori,62.3,51
4,5,202207010004,Gori,65.6,58
...,...,...,...,...,...
394555,394556,202303312355,Gori,24.5,21
394556,394557,202303312356,Gori,20.0,8
394557,394558,202303312357,Gori,17.6,70
394558,394559,202303312358,Gori,18.1,45
394559,394560,202303312359,Gori,14.0,77

In [24]:
khnp_buoy_test.iloc[:,2].unique()

array(['Gori'], dtype=object)

In [25]:
time = khnp_buoy_test.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202207010000
최후시간 : 202303312359

## KHOA_Buoy_train - 해양조사원 파고부이

In [26]:
khoa_buoy_train = pd.read_csv("../기상청공모전/data/khoa_buoy_train.csv",encoding = "utf-8")
khoa_buoy_train

,Unnamed: 0,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,1,202101010000,SongJeong,45.3,NE,49.0
1,2,202101010005,SongJeong,43.0,NE,48.0
2,3,202101010010,SongJeong,45.0,NE,50.0
3,4,202101010015,SongJeong,44.8,NE,48.0
4,5,202101010020,SongJeong,43.2,NE,49.0
...,...,...,...,...,...,...
943483,943484,202206302355,Haeundae,32.3,E,90.0
943484,943485,202206302356,Haeundae,32.3,E,89.0
943485,943486,202206302357,Haeundae,31.4,E,86.0
943486,943487,202206302358,Haeundae,31.7,E,90.0
943487,943488,202206302359,Haeundae,35.0,E,87.0

In [27]:
khoa_buoy_train.iloc[:,2].unique()

array(['SongJeong', 'Haeundae'], dtype=object)

In [28]:
x1 = khoa_buoy_train[khoa_buoy_train.iloc[:,2] == 'SongJeong']
x2 = khoa_buoy_train[khoa_buoy_train.iloc[:,2] == 'Haeundae']

In [29]:
x1

,Unnamed: 0,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
0,1,202101010000,SongJeong,45.3,NE,49.0
1,2,202101010005,SongJeong,43.0,NE,48.0
2,3,202101010010,SongJeong,45.0,NE,50.0
3,4,202101010015,SongJeong,44.8,NE,48.0
4,5,202101010020,SongJeong,43.2,NE,49.0
...,...,...,...,...,...,...
682843,682844,202206302335,SongJeong,107.2,NE,46.0
682844,682845,202206302340,SongJeong,109.1,NE,45.0
682845,682846,202206302345,SongJeong,103.9,NE,48.0
682846,682847,202206302350,SongJeong,107.9,NE,50.0
682847,682848,202206302355,SongJeong,104.2,NE,50.0

In [30]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202101010000
최후시간 : 202206302355

In [31]:
x2

,Unnamed: 0,khoa_buoy_train.yyyymmddhhmi,khoa_buoy_train.stn_name,khoa_buoy_train.ws,khoa_buoy_train.wd_point,khoa_buoy_train.wd
105120,105121,202101010000,Haeundae,28.2,E,90.0
105121,105122,202101010001,Haeundae,26.8,E,89.0
105122,105123,202101010002,Haeundae,26.0,E,80.0
105123,105124,202101010003,Haeundae,24.7,E,93.0
105124,105125,202101010004,Haeundae,25.6,E,94.0
...,...,...,...,...,...,...
943483,943484,202206302355,Haeundae,32.3,E,90.0
943484,943485,202206302356,Haeundae,32.3,E,89.0
943485,943486,202206302357,Haeundae,31.4,E,86.0
943486,943487,202206302358,Haeundae,31.7,E,90.0
943487,943488,202206302359,Haeundae,35.0,E,87.0

In [32]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202101010000
최후시간 : 202206302359

## KHOA_Buoy_test - 해양조사원 파고부이

In [33]:
khoa_buoy_test = pd.read_csv("../기상청공모전/data/khoa_buoy_test.csv",encoding = "utf-8")
khoa_buoy_test

,Unnamed: 0,khoa_buoy_test.yyyymmddhhmi,khoa_buoy_test.stn_name,khoa_buoy_test.ws,khoa_buoy_test.wd_point,khoa_buoy_test.wd
0,1,202207010000,SongJeong,102.7,NE,52.0
1,2,202207010005,SongJeong,101.6,NE,52.0
2,3,202207010010,SongJeong,98.9,NE,51.0
3,4,202207010015,SongJeong,98.3,NE,53.0
4,5,202207010020,SongJeong,96.3,NE,53.0
...,...,...,...,...,...,...
464827,464828,202303262355,Haeundae,-99.9,-99.9,-99.9
464828,464829,202303262356,Haeundae,23.6,SE,146.0
464829,464830,202303262357,Haeundae,23.2,SE,143.0
464830,464831,202303262358,Haeundae,23.4,SE,145.0
464831,464832,202303262359,Haeundae,23.9,SE,143.0

In [34]:
khoa_buoy_test.iloc[:,2].unique()

array(['SongJeong', 'Haeundae'], dtype=object)

In [35]:
x1 = khoa_buoy_test[khoa_buoy_test.iloc[:,2] == 'SongJeong']
x2 = khoa_buoy_test[khoa_buoy_test.iloc[:,2] == 'Haeundae']

In [36]:
x1

,Unnamed: 0,khoa_buoy_test.yyyymmddhhmi,khoa_buoy_test.stn_name,khoa_buoy_test.ws,khoa_buoy_test.wd_point,khoa_buoy_test.wd
0,1,202207010000,SongJeong,102.7,NE,52.0
1,2,202207010005,SongJeong,101.6,NE,52.0
2,3,202207010010,SongJeong,98.9,NE,51.0
3,4,202207010015,SongJeong,98.3,NE,53.0
4,5,202207010020,SongJeong,96.3,NE,53.0
...,...,...,...,...,...,...
342427,342428,202303262335,SongJeong,16.0,NE,35.0
342428,342429,202303262340,SongJeong,20.0,NE,44.0
342429,342430,202303262345,SongJeong,23.9,NE,52.0
342430,342431,202303262350,SongJeong,24.7,NE,48.0
342431,342432,202303262355,SongJeong,21.9,NE,47.0

In [37]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202207010000
최후시간 : 202303262355

In [38]:
x2

,Unnamed: 0,khoa_buoy_test.yyyymmddhhmi,khoa_buoy_test.stn_name,khoa_buoy_test.ws,khoa_buoy_test.wd_point,khoa_buoy_test.wd
52992,52993,202207010000,Haeundae,32.7,E,86.0
52993,52994,202207010001,Haeundae,-99.9,-99.9,-99.9
52994,52995,202207010002,Haeundae,37.0,E,86.0
52995,52996,202207010003,Haeundae,36.5,E,88.0
52996,52997,202207010004,Haeundae,36.9,E,88.0
...,...,...,...,...,...,...
464827,464828,202303262355,Haeundae,-99.9,-99.9,-99.9
464828,464829,202303262356,Haeundae,23.6,SE,146.0
464829,464830,202303262357,Haeundae,23.2,SE,143.0
464830,464831,202303262358,Haeundae,23.4,SE,145.0
464831,464832,202303262359,Haeundae,23.9,SE,143.0

In [39]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202207010000
최후시간 : 202303262359

## KMA_LightBeacon_train - 기상청 등표

In [40]:
kma_lightbecon_train = pd.read_csv("../기상청공모전/data/kma_lightbecon_train.csv",encoding = "utf-8")
kma_lightbecon_train

,Unnamed: 0,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,1,202101010000,963,Idukseo,191,3.4
1,2,202101010000,963,Idukseo,191,3.4
2,3,202101010001,963,Idukseo,127,5.2
3,4,202101010002,963,Idukseo,99,5.4
4,5,202101010003,963,Idukseo,110,5.3
...,...,...,...,...,...,...
23540839,23540840,202206302355,984,Oryuk Island,220,3.3
23540840,23540841,202206302356,984,Oryuk Island,222,3.4
23540841,23540842,202206302357,984,Oryuk Island,224,3.4
23540842,23540843,202206302358,984,Oryuk Island,225,3.4
23540843,23540844,202206302359,984,Oryuk Island,224,3.3

In [41]:
kma_lightbecon_train.iloc[:,2].unique()

array([963, 984], dtype=int64)

In [42]:
kma_lightbecon_train.iloc[:,3].unique()

array(['Idukseo', 'Oryuk Island'], dtype=object)

In [43]:
x1 = kma_lightbecon_train[kma_lightbecon_train.iloc[:,3] == 'Idukseo']
x2 = kma_lightbecon_train[kma_lightbecon_train.iloc[:,3] == 'Oryuk Island']

In [44]:
x1

,Unnamed: 0,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
0,1,202101010000,963,Idukseo,191,3.4
1,2,202101010000,963,Idukseo,191,3.4
2,3,202101010001,963,Idukseo,127,5.2
3,4,202101010002,963,Idukseo,99,5.4
4,5,202101010003,963,Idukseo,110,5.3
...,...,...,...,...,...,...
23280441,23280442,202206302355,963,Idukseo,230,8.2
23280442,23280443,202206302356,963,Idukseo,231,8.0
23280443,23280444,202206302357,963,Idukseo,232,7.5
23280444,23280445,202206302358,963,Idukseo,235,7.4
23280445,23280446,202206302359,963,Idukseo,233,7.8

In [45]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202101010000
최후시간 : 202206302359

In [46]:
x2

,Unnamed: 0,kma_lightbecon_train.yyyymmddhhmi,kma_lightbecon_train.stn,kma_lightbecon_train.stn_name,kma_lightbecon_train.wd,kma_lightbecon_train.ws
12618931,12618932,202101010000,984,Oryuk Island,259,7.3
12618932,12618933,202101010000,984,Oryuk Island,259,7.3
12618933,12618934,202101010001,984,Oryuk Island,257,7.3
12618934,12618935,202101010002,984,Oryuk Island,257,6.9
12618935,12618936,202101010003,984,Oryuk Island,271,7.1
...,...,...,...,...,...,...
23540839,23540840,202206302355,984,Oryuk Island,220,3.3
23540840,23540841,202206302356,984,Oryuk Island,222,3.4
23540841,23540842,202206302357,984,Oryuk Island,224,3.4
23540842,23540843,202206302358,984,Oryuk Island,225,3.4
23540843,23540844,202206302359,984,Oryuk Island,224,3.3

In [47]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202101010000
최후시간 : 202206302359

## KMA_LightBeacon_test - 기상청 등표

In [48]:
kma_lightbecon_test = pd.read_csv("../기상청공모전/data/kma_lightbecon_test.csv",encoding = "utf-8")
kma_lightbecon_test

,Unnamed: 0,kma_lightbecon_test.yyyymmddhhmi,kma_lightbecon_test.stn,kma_lightbecon_test.stn_name,kma_lightbecon_test.wd,kma_lightbecon_test.ws
0,1,202207010000,963,Idukseo,233,8.0
1,2,202207010003,963,Idukseo,231,7.8
2,3,202207010000,963,Idukseo,233,8.0
3,4,202207010001,963,Idukseo,233,8.0
4,5,202207010002,963,Idukseo,232,7.9
...,...,...,...,...,...,...
9731626,9731627,202303312355,984,Oryuk Island,67,1.7
9731627,9731628,202303312356,984,Oryuk Island,69,2.0
9731628,9731629,202303312357,984,Oryuk Island,50,2.4
9731629,9731630,202303312358,984,Oryuk Island,66,2.1
9731630,9731631,202303312359,984,Oryuk Island,58,2.3

In [49]:
kma_lightbecon_test.iloc[:,2].unique()

array([963, 984], dtype=int64)

In [50]:
kma_lightbecon_test.iloc[:,3].unique()

array(['Idukseo', 'Oryuk Island'], dtype=object)

In [51]:
x1 = kma_lightbecon_test[kma_lightbecon_test.iloc[:,3] == 'Idukseo']
x2 = kma_lightbecon_test[kma_lightbecon_test.iloc[:,3] == 'Oryuk Island']

In [52]:
x1

,Unnamed: 0,kma_lightbecon_test.yyyymmddhhmi,kma_lightbecon_test.stn,kma_lightbecon_test.stn_name,kma_lightbecon_test.wd,kma_lightbecon_test.ws
0,1,202207010000,963,Idukseo,233,8.0
1,2,202207010003,963,Idukseo,231,7.8
2,3,202207010000,963,Idukseo,233,8.0
3,4,202207010001,963,Idukseo,233,8.0
4,5,202207010002,963,Idukseo,232,7.9
...,...,...,...,...,...,...
9602153,9602154,202303312355,963,Idukseo,269,2.9
9602154,9602155,202303312356,963,Idukseo,271,2.9
9602155,9602156,202303312357,963,Idukseo,186,2.6
9602156,9602157,202303312358,963,Idukseo,287,2.5
9602157,9602158,202303312359,963,Idukseo,344,2.4

In [53]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202207010000
최후시간 : 202303312359

In [54]:
x2

,Unnamed: 0,kma_lightbecon_test.yyyymmddhhmi,kma_lightbecon_test.stn,kma_lightbecon_test.stn_name,kma_lightbecon_test.wd,kma_lightbecon_test.ws
6285594,6285595,202207010000,984,Oryuk Island,222,3.2
6285595,6285596,202207010001,984,Oryuk Island,219,2.9
6285596,6285597,202207010002,984,Oryuk Island,216,3.0
6285597,6285598,202207010003,984,Oryuk Island,216,3.3
6285598,6285599,202207010004,984,Oryuk Island,215,3.3
...,...,...,...,...,...,...
9731626,9731627,202303312355,984,Oryuk Island,67,1.7
9731627,9731628,202303312356,984,Oryuk Island,69,2.0
9731628,9731629,202303312357,984,Oryuk Island,50,2.4
9731629,9731630,202303312358,984,Oryuk Island,66,2.1
9731630,9731631,202303312359,984,Oryuk Island,58,2.3

In [55]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 202207010000
최후시간 : 202303312359

## KMA_PagoBuoy_train - 기상청 파고부이

In [56]:
kma_pagobuoy_train = pd.read_csv("../기상청공모전/data/kma_pagobuoy_train.csv",encoding = "utf-8")
kma_pagobuoy_train

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,1,2021010100,22454,장안,0.7,0.5,0.3
1,2,2021010101,22454,장안,0.6,0.5,0.4
2,3,2021010102,22454,장안,0.8,0.6,0.4
3,4,2021010103,22454,장안,0.6,0.5,0.3
4,5,2021010104,22454,장안,0.6,0.4,0.3
...,...,...,...,...,...,...,...
69628,69629,2022063019,22518,당사,0.7,0.6,0.4
69629,69630,2022063020,22518,당사,0.7,0.6,0.3
69630,69631,2022063021,22518,당사,0.6,0.5,0.3
69631,69632,2022063022,22518,당사,0.6,0.4,0.2
69632,69633,2022063023,22518,당사,0.8,0.5,0.3

In [57]:
kma_pagobuoy_train.iloc[:,3].unique()

array(['장안', '오륙도', '다대포', '간절곶', '기장', '당사'], dtype=object)

In [58]:
x1 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '장안']
x2 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '오륙도']
x3 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '다대포']
x4 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '간절곶']
x5 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '기장']
x6 = kma_pagobuoy_train[kma_pagobuoy_train.iloc[:,3] == '당사']

In [59]:
x1

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
0,1,2021010100,22454,장안,0.7,0.5,0.3
1,2,2021010101,22454,장안,0.6,0.5,0.4
2,3,2021010102,22454,장안,0.8,0.6,0.4
3,4,2021010103,22454,장안,0.6,0.5,0.3
4,5,2021010104,22454,장안,0.6,0.4,0.3
...,...,...,...,...,...,...,...
51700,51701,2022063019,22454,장안,0.5,0.4,0.3
51701,51702,2022063020,22454,장안,0.5,0.3,0.2
51702,51703,2022063021,22454,장안,0.5,0.3,0.2
51703,51704,2022063022,22454,장안,0.4,0.3,0.2
51704,51705,2022063023,22454,장안,0.3,0.2,0.2

In [60]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

In [61]:
x2

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
8543,8544,2021010100,22459,오륙도,0.6,0.4,0.3
8544,8545,2021010101,22459,오륙도,0.7,0.5,0.3
8545,8546,2021010102,22459,오륙도,0.6,0.5,0.3
8546,8547,2021010103,22459,오륙도,0.7,0.5,0.4
8547,8548,2021010104,22459,오륙도,0.6,0.5,0.3
...,...,...,...,...,...,...,...
55979,55980,2022063019,22459,오륙도,0.5,0.4,0.2
55980,55981,2022063020,22459,오륙도,0.3,0.2,0.1
55981,55982,2022063021,22459,오륙도,0.3,0.2,0.1
55982,55983,2022063022,22459,오륙도,0.3,0.3,0.2
55983,55984,2022063023,22459,오륙도,0.4,0.3,0.2

In [62]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

In [63]:
x3

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
16940,16941,2021010100,22460,다대포,0.6,0.4,0.2
16941,16942,2021010101,22460,다대포,0.5,0.4,0.3
16942,16943,2021010102,22460,다대포,0.5,0.4,0.2
16943,16944,2021010103,22460,다대포,0.5,0.3,0.2
16944,16945,2021010104,22460,다대포,0.5,0.3,0.2
...,...,...,...,...,...,...,...
60293,60294,2022063019,22460,다대포,0.7,0.4,0.3
60294,60295,2022063020,22460,다대포,0.5,0.4,0.3
60295,60296,2022063021,22460,다대포,0.6,0.4,0.3
60296,60297,2022063022,22460,다대포,0.6,0.4,0.3
60297,60298,2022063023,22460,다대포,0.6,0.4,0.3

In [64]:
time = x3.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

In [65]:
x4

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
25410,25411,2021010100,22483,간절곶,1.0,0.8,0.6
25411,25412,2021010101,22483,간절곶,1.0,0.8,0.5
25412,25413,2021010102,22483,간절곶,1.2,0.8,0.5
25413,25414,2021010103,22483,간절곶,1.0,0.8,0.5
25414,25415,2021010104,22483,간절곶,1.1,0.8,0.5
...,...,...,...,...,...,...,...
64582,64583,2022063019,22483,간절곶,0.6,0.5,0.3
64583,64584,2022063020,22483,간절곶,0.5,0.4,0.3
64584,64585,2022063021,22483,간절곶,0.4,0.3,0.2
64585,64586,2022063022,22483,간절곶,0.4,0.3,0.2
64586,64587,2022063023,22483,간절곶,0.4,0.3,0.2

In [66]:
time = x4.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

In [67]:
x5

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
33636,33637,2021010100,22511,기장,1.0,0.7,0.4
33637,33638,2021010101,22511,기장,1.2,0.9,0.6
33638,33639,2021010102,22511,기장,1.3,0.9,0.6
33639,33640,2021010103,22511,기장,1.4,1.0,0.6
33640,33641,2021010104,22511,기장,1.1,0.8,0.6
...,...,...,...,...,...,...,...
67874,67875,2022063019,22511,기장,0.7,0.5,0.3
67875,67876,2022063020,22511,기장,0.5,0.4,0.2
67876,67877,2022063021,22511,기장,0.5,0.4,0.2
67877,67878,2022063022,22511,기장,0.4,0.3,0.2
67878,67879,2022063023,22511,기장,0.5,0.4,0.2

In [68]:
time = x5.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

In [69]:
x6

,Unnamed: 0,kma_pagobuoy_train.yyyymmddhhmi,kma_pagobuoy_train.stn,kma_pagobuoy_train.stn_name,kma_pagobuoy_train.max_wh,kma_pagobuoy_train.sig_wh,kma_pagobuoy_train.mean_wh
40613,40614,2021010100,22518,당사,1.2,0.8,0.5
40614,40615,2021010101,22518,당사,1.0,0.6,0.4
40615,40616,2021010102,22518,당사,0.8,0.5,0.3
40616,40617,2021010103,22518,당사,0.7,0.6,0.4
40617,40618,2021010104,22518,당사,0.8,0.6,0.4
...,...,...,...,...,...,...,...
69628,69629,2022063019,22518,당사,0.7,0.6,0.4
69629,69630,2022063020,22518,당사,0.7,0.6,0.3
69630,69631,2022063021,22518,당사,0.6,0.5,0.3
69631,69632,2022063022,22518,당사,0.6,0.4,0.2
69632,69633,2022063023,22518,당사,0.8,0.5,0.3

In [70]:
time = x6.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2021010100
최후시간 : 2022063023

## KMA_PagoBuoy_test - 기상청 파고부이

In [71]:
kma_pagobuoy_test = pd.read_csv("../기상청공모전/data/kma_pagobuoy_test.csv",encoding = "utf-8")
kma_pagobuoy_test

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
0,1,2022070100,22454,장안,0.4,0.3,0.2
1,2,2022070101,22454,장안,0.3,0.2,0.2
2,3,2022070102,22454,장안,0.3,0.2,0.1
3,4,2022070103,22454,장안,0.3,0.2,0.1
4,5,2022070104,22454,장안,0.3,0.2,0.1
...,...,...,...,...,...,...,...
22730,22731,2022123119,22518,당사,0.6,0.4,0.2
22731,22732,2022123120,22518,당사,0.5,0.4,0.2
22732,22733,2022123121,22518,당사,0.4,0.3,0.2
22733,22734,2022123122,22518,당사,0.5,0.4,0.2
22734,22735,2022123123,22518,당사,0.5,0.4,0.2

In [72]:
kma_pagobuoy_train.iloc[:,3].unique()

array(['장안', '오륙도', '다대포', '간절곶', '기장', '당사'], dtype=object)

In [73]:
x1 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '장안']
x2 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '오륙도']
x3 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '다대포']
x4 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '간절곶']
x5 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '기장']
x6 = kma_pagobuoy_test[kma_pagobuoy_test.iloc[:,3] == '당사']

In [74]:
x1

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
0,1,2022070100,22454,장안,0.4,0.3,0.2
1,2,2022070101,22454,장안,0.3,0.2,0.2
2,3,2022070102,22454,장안,0.3,0.2,0.1
3,4,2022070103,22454,장안,0.3,0.2,0.1
4,5,2022070104,22454,장안,0.3,0.2,0.1
...,...,...,...,...,...,...,...
4380,4381,2022123119,22454,장안,0.4,0.3,0.2
4381,4382,2022123120,22454,장안,0.6,0.4,0.3
4382,4383,2022123121,22454,장안,0.5,0.4,0.3
4383,4384,2022123122,22454,장안,0.5,0.3,0.2
4384,4385,2022123123,22454,장안,0.4,0.3,0.2

In [75]:
time = x1.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022123123

In [76]:
x2

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
4385,4386,2022070100,22459,오륙도,0.3,0.3,0.2
4386,4387,2022070101,22459,오륙도,0.4,0.3,0.2
4387,4388,2022070102,22459,오륙도,0.4,0.3,0.2
4388,4389,2022070103,22459,오륙도,0.4,0.3,0.2
4389,4390,2022070104,22459,오륙도,0.4,0.4,0.2
...,...,...,...,...,...,...,...
8757,8758,2022123119,22459,오륙도,0.5,0.4,0.2
8758,8759,2022123120,22459,오륙도,0.5,0.4,0.2
8759,8760,2022123121,22459,오륙도,0.5,0.4,0.3
8760,8761,2022123122,22459,오륙도,0.7,0.5,0.3
8761,8762,2022123123,22459,오륙도,0.4,0.3,0.2

In [77]:
time = x2.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022123123

In [78]:
x3

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
8762,8763,2022070100,22460,다대포,0.5,0.3,0.2
8763,8764,2022070101,22460,다대포,0.5,0.4,0.3
8764,8765,2022070102,22460,다대포,0.5,0.4,0.2
8765,8766,2022070103,22460,다대포,0.5,0.4,0.3
8766,8767,2022070104,22460,다대포,0.6,0.4,0.3
...,...,...,...,...,...,...,...
13158,13159,2022123119,22460,다대포,0.4,0.3,0.2
13159,13160,2022123120,22460,다대포,0.3,0.3,0.2
13160,13161,2022123121,22460,다대포,0.3,0.2,0.2
13161,13162,2022123122,22460,다대포,0.3,0.2,0.1
13162,13163,2022123123,22460,다대포,0.3,0.2,0.1

In [79]:
time = x3.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022123123

In [80]:
x4

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
13163,13164,2022070100,22483,간절곶,0.4,0.3,0.2
13164,13165,2022070101,22483,간절곶,0.4,0.3,0.2
13165,13166,2022070102,22483,간절곶,0.4,0.3,0.2
13166,13167,2022070103,22483,간절곶,0.4,0.3,0.2
13167,13168,2022070104,22483,간절곶,0.4,0.3,0.2
...,...,...,...,...,...,...,...
17045,17046,2022123119,22483,간절곶,0.6,0.4,0.2
17046,17047,2022123120,22483,간절곶,0.6,0.4,0.3
17047,17048,2022123121,22483,간절곶,0.6,0.4,0.2
17048,17049,2022123122,22483,간절곶,0.5,0.4,0.3
17049,17050,2022123123,22483,간절곶,0.5,0.3,0.2

In [81]:
time = x4.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022123123

In [82]:
x5

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
17050,17051,2022070100,22511,기장,0.6,0.5,0.3
17051,17052,2022070101,22511,기장,0.7,0.5,0.3
17052,17053,2022070102,22511,기장,0.7,0.5,0.3
17053,17054,2022070103,22511,기장,0.8,0.6,0.3
17054,17055,2022070104,22511,기장,0.7,0.5,0.3
...,...,...,...,...,...,...,...
19504,19505,2022121015,22511,기장,0.4,0.3,0.2
19505,19506,2022121016,22511,기장,0.4,0.3,0.2
19506,19507,2022121017,22511,기장,0.4,0.3,0.2
19507,19508,2022121018,22511,기장,0.4,0.3,0.2
19508,19509,2022121019,22511,기장,0.4,0.4,0.2

In [83]:
time = x5.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022121019

In [84]:
x6

,Unnamed: 0,kma_pagobuoy_test.yyyymmddhhmi,kma_pagobuoy_test.stn,kma_pagobuoy_test.stn_name,kma_pagobuoy_test.max_wh,kma_pagobuoy_test.sig_wh,kma_pagobuoy_test.mean_wh
19509,19510,2022070100,22518,당사,0.6,0.4,0.2
19510,19511,2022070101,22518,당사,0.7,0.5,0.3
19511,19512,2022070102,22518,당사,0.7,0.4,0.2
19512,19513,2022070103,22518,당사,0.5,0.4,0.2
19513,19514,2022070104,22518,당사,0.4,0.3,0.2
...,...,...,...,...,...,...,...
22730,22731,2022123119,22518,당사,0.6,0.4,0.2
22731,22732,2022123120,22518,당사,0.5,0.4,0.2
22732,22733,2022123121,22518,당사,0.4,0.3,0.2
22733,22734,2022123122,22518,당사,0.5,0.4,0.2
22734,22735,2022123123,22518,당사,0.5,0.4,0.2

In [85]:
time = x6.iloc[:,1]
print(f'최초시간 : {min(time)}')
print(f'최후시간 : {max(time)}')

최초시간 : 2022070100
최후시간 : 2022123123